<div class="about-outer">
    <div class="about-text">
        <div class="about-event" data-aos="fade-up">
            <div class="about-heading">
                <h1>About <span class="about-span">The Event</span></h1>
            </div>
            <div class="about-description">
                <p>“Don’t worry about being successful but work toward being significant and the success will naturally follow”, a wise man once stated. We, at E-Cell NIT Silchar, stand by this and labour to foster and motivate an entrepreneurial environment among the students at campus. We instil and promote the urge to create ideas and ventures that will be tomorrow’s reality.</p>
            </div>
        </div>
        <div class="about-nits" data-aos="fade-up">
            <div class="about-heading">
                <h1>About <span class="about-span">NIT Silchar</span></h1>
            </div>
            <div class="about-description">
                <p>A bright future requires a bright start. This is the mantra that NITS lives by. It facilitates the requisite support and encouragement to shape the body and soul through a variety of cultural and academic activities. We are honoured to be a small but significant part of such an esteemed organisation.</p>
            </div>
        </div>
    </div>
    <div class="about-anim">
        <div class="logo-circle-l">
            <img src="/logos/about1.svg" alt="" class="about-logo1">
        </div>
        <div class="circle"></div>
        <div class="logo-circle-s">
            <img src="/logos/about2.svg" alt="" class="about-logo2 hidden">
        </div>
    </div>
</div>