<div class="ourTeam">

    <div class="section Patron">
        <div class="team">Our <span>Developers</span></div>

        <!-- Senior Developers -->
        <p>Senior Developers</p>
        <div class=" patroncard">
            <!-- Aadi Verma -->
            <div class="details">
                <figure><img src="/team-images/Aadi.jpeg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/aadi-verma-429453199" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/aadi.verma.96780671" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/Aadi2509" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Aadi Verma
                    </span1>
                </div>
            </div>


            <!-- Aditya Agarwal -->
            <div class="details">
                <figure><img src="/team-images/AdityaAgarwal.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/aditya-agarwal-1b26301a0" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100009177385701" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/aditya2712" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Aditya Agarwal
                    </span1>
                </div>
            </div>

            <!-- Abhishek Bharadwaz -->
            <div class="details">
                <figure><img src="/team-images/Abhishek.png" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/abhishek-bharadwaz-458993192" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/bharadwaz.abhishek" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/4Marsha1" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Abhishek Bharadwaz
                    </span1>
                </div>
            </div>
            <!-- Soumya Ranjan Mohapatro -->
            <div class="details">
                <figure><img src="/developer-pics/soumya.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/soumyarmohapatro/">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/soumyaranjan.mohapatro.3/">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/SoumyaCMC">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Soumya Ranjan<br> Mohapatro</span1>
                </div>
            </div>
        </div>
    </div>


    <!-- Junior Developers -->

    <div class="section developer">
        <p>Junior Developers</p>
        <div class="developercard">

            <!-- Doneela Das -->
            <div class="details">
                <figure><img src="/developer-pics/doneela1.webp" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/doneela-das-651236204/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/doneela.das.71/" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/doneela" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Doneela Das</span1>
                </div>
            </div>

            <!-- Vinayak Das -->

            <div class="details">
                <figure><img src="/developer-pics/vinayak.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/phenyloder/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/phenyloder" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/phenyloder" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Vinayak Das</span1>
                </div>
            </div>



            <!-- Aditya Kumar -->

            <div class="details">
                <figure><img src="/developer-pics/aditya.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/aditya-kumar-9208a5205" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/adityakumar.nits" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/adityacsenits021" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Aditya Kumar</span1>
                </div>
            </div>

            <!-- Adrita Buragohain -->

            <div class="details">
                <figure><img src="/developer-pics/Adrita.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/adrita-buragohain-460080219/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                        </a>
                        <a href="https://www.facebook.com/adrita.buragohain.7" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                        </a>
                        <a href="https://github.com/Adrita2002" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                    <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Adrita Buragohain</span1>
                </div>
            </div>


            <!-- Netrakamal Barua -->

            <div class="details">
                <figure><img src="/developer-pics/netrakamal.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/netrakamal-barua-377485219/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/netrakamal.barua/" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <a href="https://github.com/JOSU9435" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Netrakamal Barua</span1>
                </div>
            </div>

            <!-- Jyotishka Bhattacharjee -->

            <div class="details">
                <figure><img src="/developer-pics/jyotiska.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/jyotishka-b-32995712b/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/people/Jyotishka-Bhattacharjee/100005647038947/" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/jyotishka747" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Jyotishka<br> Bhattacharjee</span1>
                </div>
            </div>

            <!-- Manash Pratim Pathak-->

            <div class="details">
                <figure><img src="/developer-pics/ManashPratimPathak.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/manash-pratim-pathak-6039b81b6" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://m.facebook.com/100058809482999/" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/ManashPratimPathak " target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Manash Pratim<br> Pathak</span1>
                </div>
            </div>

            <!-- Sakshi Garg -->

            <div class="details">
                <figure><img src="/developer-pics/sakshi.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/sakshi-garg-95563a215" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://bit.ly/3t6B2Ul" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="https://github.com/Sakshiagarwaal" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Sakshi Garg </span1>
                </div>
            </div>

        </div>

    </div>

    <div class="section developer Designer">
        <p>Junior Designer</p>
        <div class="developercard">
            <!-- Diya Karmakar-->

            <div class="details">
                <figure><img src="/developer-pics/diya.jpg" alt="">
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/diya-karmakar-5a4b14190/" target="blank">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                        <a href="https://www.facebook.com/diya.karmakar.37625/" target="blank">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                        <a href="https://github.com/diyakarmakar779 " target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                        </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Diya Karmakar</span1>
                </div>
            </div>
        </div>
    </div>
</div>