<div class="container" id="container" >
    <div class="header"></div>
    <div class="heading">
        <div class="extra">
        <div class="title">
            <h1><span>Event</span> Lists</h1>
        </div>
    </div>
    </div>  
  
<div class="desc-container">
  <div class="image-container">
    <div class="icon" id="icon"><img id="logo" src="images/logo.png" alt=""></div>
</div>
    <!-- <div class="events-bg"> -->
    <div class="events" id="events" >
   
        <div class="event" id="event1">
            <h2>IPL Auction1</h2>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi impedit maxime, quae, minus quos delectus sequi numquam necessitatibus veniam maiores debitis fugiat. Unde omnis eveniet consequatur neque ad iusto voluptas quaerat aliquam.</p>
            </div>
            <button class="btn">Register Now</button>
            
        </div>
        <div class="event" id="event2">
            <h2>IPL Auction2</h2>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi impedit maxime, quae, minus quos delectus sequi numquam necessitatibus veniam maiores debitis fugiat. Unde omnis eveniet consequatur neque ad iusto voluptas quaerat aliquam.</p>
            </div>
            <button class="btn">Register Now</button>
        </div>
        <div class="event" id="event3">
            <h2>IPL Auction3</h2>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi impedit maxime, quae, minus quos delectus sequi numquam necessitatibus veniam maiores debitis fugiat. Unde omnis eveniet consequatur neque ad iusto voluptas quaerat aliquam.</p>
            </div>
            <button class="btn">Register Now</button>
        </div>
        <div class="event" id="event4">
            <h2>IPL Auction4</h2>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi impedit maxime, quae, minus quos delectus sequi numquam necessitatibus veniam maiores debitis fugiat. Unde omnis eveniet consequatur neque ad iusto voluptas quaerat aliquam.</p>
            </div>
            <button class="btn">Register Now</button>
        </div>
      
    </div>
<!-- </div> -->
</div>

</div>
