<div class="event-heading">
    <div class="event-extra">
    <div class="event-title">
        <h1><span>Event</span> Lists</h1>
    </div>
</div>
</div>  

<div class="event-container">
   <div class="event-image"> <div class="event-icon" id="event-icon"><img id="event-logo" src="images/technerd.svg" alt=""></div></div>
<div  class="event-scroll-container" id="event-scroll-container">

    <section class="event" >
        <h2 id="event-name1">IPL Auction1</h2>
        <div class="event-desc" id="event-desc1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis qui repellat? Culpa velit repudiandae officia asperiores ducimus, esse consequuntur quo quisquam nisi accusantium facilis odio molestiae quam, aliquam, qui dolorum?</p>
        </div>
    
        <a id="event-link" href="#"><button class="event-btn">Register Now</button></a>
    </section>
    <section class="event" >
        <h2 id="event-name2">IPL Auction2</h2>
        <div class="event-desc" id="event-desc2">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis qui repellat? Culpa velit repudiandae officia asperiores ducimus, esse consequuntur quo quisquam nisi accusantium facilis odio molestiae quam, aliquam, qui dolorum?</p>
        </div>
    
        <a id="event-link" href="#"><button class="event-btn">Register Now</button></a>
    </section>
    <section class="event" >
        <h2 id="event-name3">IPL Auction3</h2>
        <div class="event-desc" id="event-desc3">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis qui repellat? Culpa velit repudiandae officia asperiores ducimus, esse consequuntur quo quisquam nisi accusantium facilis odio molestiae quam, aliquam, qui dolorum?</p>
        </div>
    
        <a id="event-link" href="#"><button class="event-btn">Register Now</button></a>
    </section>
    <section class="event" >
        <h2 id="event-name4">IPL Auction4</h2>
        <div class="event-desc" id="event-desc4">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis qui repellat? Culpa velit repudiandae officia asperiores ducimus, esse consequuntur quo quisquam nisi accusantium facilis odio molestiae quam, aliquam, qui dolorum?</p>
        </div>
    
        <a id="event-link" href="#"><button class="event-btn">Register Now</button></a>
    </section>
    <section class="event" >
        <h2 id="event-name5">IPL Auction5</h2>
        <div class="event-desc" id="event-desc5">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis qui repellat? Culpa velit repudiandae officia asperiores ducimus, esse consequuntur quo quisquam nisi accusantium facilis odio molestiae quam, aliquam, qui dolorum?</p>
        </div>
    
        <a id="event-link" href="#"><button class="event-btn">Register Now</button></a>
    </section>
</div>
</div>