<div class="event-heading">
    <div class="event-extra">
        <div class="event-title">
            <h1><span>Event</span> Lists</h1>
        </div>
    </div>
</div>

<div class="event-container">
    <div class="event-image">
        <div class="event-icon" id="event-icon"><img id="event-logo" src="images/pitch.png" alt=""></div>
    </div>
    <div class="event-scroll-container" id="event-scroll-container">

        <section class="event">
            <h2 id="event-name1">Pitch Please</h2>
            <div class="event-desc" id="event-desc1">
                <p>Aiming to provide the right stage to showcase the business ideas and models, creating potentiality of
                    early-stage startups help ignite the enthusiastic minds. To evaluate their plan in a risk-free
                    environment by panel of judges would bridge the gap between ideas and reality of an enterprise.</p>
            </div>

            <a id="event-link" href="/register/pitch_please"><button class="event-btn">Register Now</button></a>
        </section>
        <section class="event" data-aos="fade-up">
            <h2 id="event-name2">Technerds</h2>
            <div class="event-desc" id="event-desc2">
                <p>Here it is!! The right place for you. Srijan 3.0 provides you with a sporting chance, Technerd, a
                    competition that allows you to demonstrate your technical expertise. Utilize your technical
                    competencies to overcome all the barriers to your idea and bring about a satisfactory output that is
                    beneficial to everyone.</p>
            </div>

            <a id="event-link" href="/register/technerds"><button class="event-btn">Register Now</button></a>
        </section>
        <section class="event" data-aos="fade-up">
            <h2 id="event-name3">Outwit the Board Room</h2>
            <div class="event-desc" id="event-desc3">
                <p>“Outwit the Board Room” is the ultimate test of a startups’ core players’ decision making ability,
                    juggling the restraints as they go. Teams of five, each member attaining the role of a vital team
                    player (CEO, CTO, CFO, CMO or HR), will play the the first round which quizes the individual
                    responsibilities of each Board Member.</p>
            </div>

            <a id="event-link" href="/register/outwit_the_boardroom"><button class="event-btn">Register Now</button></a>
        </section>
        <section class="event" data-aos="fade-up">
            <h2 id="event-name4">Exchange Your Idea</h2>
            <div class="event-desc" id="event-desc4">
                <p>Exchange Your Idea gives you an excellent opportunity to learn about other people's opinions and
                    solutions to a given problem or issue. This enhances your thinking skills and allows you to explore
                    your idea in a more thorough manner, elevating it higher.</p>
            </div>

            <a id="event-link" href="/register/exchange_your_idea"><button class="event-btn">Register Now</button></a>
        </section>
        <section class="event" data-aos="fade-up">
            <h2 id="event-name5">StartUp Expo</h2>
            <div class="event-desc" id="event-desc5">
                <p>Startup Expo is the one-in-all stop to get your startup the boost it needs to reach its full
                    potential. It is the ideal avenue that lures investors, influencers and attendees from anywhere and
                    everywhere. We believe the right sum up would be “Exposure at its best!”.</p>
            </div>

            <a id="event-link" href="/register/start_up_expo"><button class="event-btn">Register Now</button></a>
        </section>
        <section class="event" data-aos="fade-up">
            <h2 id="event-name6">Entrepreneurship Auction</h2>
            <div class="event-desc" id="event-desc6">
                <p>E-Cell NIT Silchar, as a part of e-summit Srijan 3.0, brings a stirring opportunity for tactical
                    planning in the guise of an entrepreneurial auction.</p>
            </div>

            <a id="event-link" href="/register/entrepreneurship_auction"><button class="event-btn">Register
                    Now</button></a>
        </section>
    </div>
</div>