<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventlist</title>
    <link rel="stylesheet" href="style.css">
</head>

<body> -->


    <div class="container" id="container" >
        <div class="desc-container">

    <div class="heading">
        <div class="extra">
        <div class="title">
            <h1><span>Event</span> Lists</h1>
        </div>
        
        <div class="icon"><img id="logo" src="images/logo.png" alt=""></div>
    </div>
    </div>

        <div class="events" id="events" >
            <div class="event">
                <h2>IPL Auction</h2>
                <div class="desc">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi eos amet iure non voluptatibus?
                        Illo sed tempore voluptate error, sint dolorem sit eveniet ipsa quam quisquam, distinctio
                        corrupti, magnam nemo porro consectetur.</p>
                </div>
                <button class="btn">Register Now</button>
                
            </div>
            <div class="event">
                <h2>IPL Auction</h2>
                <div class="desc">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi eos amet iure non voluptatibus?
                        Illo sed tempore voluptate error, sint dolorem sit eveniet ipsa quam quisquam, distinctio
                        corrupti, magnam nemo porro consectetur.</p>
                </div>
                <button class="btn">Register Now</button>
            </div>
            <div class="event">
                <h2>IPL Auction</h2>
                <div class="desc">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi eos amet iure non voluptatibus?
                        Illo sed tempore voluptate error, sint dolorem sit eveniet ipsa quam quisquam, distinctio
                        corrupti, magnam nemo porro consectetur.</p>
                </div>
                <button class="btn">Register Now</button>
            </div>
            <div class="event">
                <h2>IPL Auction</h2>
                <div class="desc">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi eos amet iure non voluptatibus?
                        Illo sed tempore voluptate error, sint dolorem sit eveniet ipsa quam quisquam, distinctio
                        corrupti, magnam nemo porro consectetur.</p>
                </div>
                <button class="btn">Register Now</button>
            </div>
        </div>
    
</div>

    <div class="register-now">
        <div class="register-div"><p>REGISTER NOW</p><span><img src="images/arrow.png" alt=""></span></div>
    </div>
   </div>
   
 
    <!-- <script src="eventlist.js"></script>
</body>

</html> -->