<div class="footer_container">
  <div class="footer_body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ab
    reprehenderit iure id, atque harum in veniam, exercitationem nihil
    aliquid ea impedit deleniti consequatur odio! Sint amet neque tempore
    vitae 
    
  </div>
  <div class="footer_images">
    <img class="footer_images_1"src="/galleryImages/Vector.png" alt="no image" srcset="">
    <img class="footer_images_2"src="/galleryImages/Vector_2.png" alt="no image" srcset="">
    <img class="footer_images_3"src="/galleryImages/Vector_3.png" alt="no image" srcset="">
    <img class="footer_images_4"src="/galleryImages/Vector_4.png" alt="no image" srcset="">
    <img class="footer_images_5"src="/galleryImages/Vector_5.png" alt="no image" srcset="">
  </div>
</div>
