<div class="contact_info">
    <p class="contact_heading">
        <span>Contact</span>
        <span2>Info</span1>
    </p>
    <div class="further_info">
        <div class="child_info Address" style="margin-top: 10px;">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <h2>Address</h2>
            <h5>National Institue Of </h5>
            <h5>Technology Silchar </h5>
            <h5>cachar , Assam</h5>
        </div>

        <div class="child_info">
            <!-- <i class="fa fa-internet-explorer" aria-hidden="true"></i> -->
            <!-- <i class="fa-solid fa-browser"></i>     -->
            <i class="fa-solid fa-globe"></i>
            <h2>Website</h2>
            <h5>www.nits.ac.in</h5>
        </div>
        <div class="child_info">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h2>Email</h2>
            <h5>contact@srijan-nits.in</h5>
        </div>
        <div class="child_info">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            <h2>Phone Number</h2>
            <h5>+91-7066332026
            </h5>
        </div>
    </div>
</div>


<footer>
    <div class="footer_content">
        <div class="footer_text">
            <span>A Unique Initiative by NIT Silchar<br></span>
            <span1>For the students, By the students<br></span1>
            <span2>In association with E-Cell NIT Silchar & Institution 's Innovation Council and IEEE ComSoc NITS Student Branch Chapter</span2>
        </div>
        <!-- <ul class="social_icon">
    <li><a href="#"><img src="/galleryImages/facebook.png"></a></li>
    <li><a href="#"><img src="/galleryImages/insta.png"></a></li>
    <li><a href="#"><img src="/galleryImages/linkedin.png"></a></li>

  </ul> -->
        <div class="social_icon">

            <a id="icon-s" href="https://www.facebook.com/srijan.nits/"><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i></a>
            <a href=""><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i></a>
            <a id="icon-s" href="https://www.linkedin.com/company/srijan-nit-silchar"><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i></a>
        </div>

    </div>
</footer>