<div class="contact_info">
  <p class="contact_heading">
 <span>Contact</span>
   <span2>Info</span1>
  </p>
  <div class="further_info">
   <div class="child_info" style="margin-top: 25px;">
    <i class="fa fa-address-card" aria-hidden="true"></i>
    <h2>Address</h2>
    <h5>National Institue Of </h5>
    <h5>Technology Silchar </h5>
    <h5>cachar , Assam</h5>
  </div>
    
  <div class="child_info">
    <i class="fa fa-internet-explorer" aria-hidden="true"></i>
    <h2>Website</h2>
    <h5>www.nits.ac.in</h5>
  </div>
    <div class="child_info">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    <h2>Email</h2>
    <h5>xxx@xx.com</h5>
  </div>
    <div class="child_info">
      <i class="fa fa-phone-square" aria-hidden="true"></i>
    <h2>Phone Number</h2>
    <h5>+91-xxxxxxxxxx</h5>
  </div>
  </div>
</div>

<!-- <div class="footer_container">
  <div class="footer_body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ab
    reprehenderit iure id, atque harum in veniam, exercitationem nihil
    aliquid ea impedit deleniti consequatur odio! Sint amet neque tempore
    vitae 
    
  </div>
  <div class="footer_images">
    <img class="footer_images_1"src="/galleryImages/Vector.png" alt="no image" srcset="">
    <img class="footer_images_2"src="/galleryImages/Vector_2.png" alt="no image" srcset="">
    <img class="footer_images_3"src="/galleryImages/Vector_3.png" alt="no image" srcset="">
    <img class="footer_images_4"src="/galleryImages/Vector_4.png" alt="no image" srcset="">
    <img class="footer_images_5"src="/galleryImages/Vector_5.png" alt="no image" srcset="">
  </div>
</div> -->
<footer>
<div class="footer_content">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt commodi
    rerum impedit optio iste a fugiat cupiditate natus excepturi recusandae
    nesciunt dolorem, sunt ut quam quo eligendi nobis illo possimus. Aut, eos
    voluptatibus. Alias, iusto!
  </p>
  <!-- <ul class="social_icon">
    <li><a href="#"><img src="/galleryImages/facebook.png"></a></li>
    <li><a href="#"><img src="/galleryImages/insta.png"></a></li>
    <li><a href="#"><img src="/galleryImages/linkedin.png"></a></li>

  </ul> -->
  <div class="social_icon">

    <a id="icon-s" href="" ><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i></a>
    <a href=""><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i></a>
      <a  id="icon-s" href=""><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i></a>
    </div>

</div>
</footer>
