<div class="PhotoGallery">
    <div class="heading_photo_gallery">
        <h2>Photo <span class="galleryText">Gallery</span></h2>
    </div>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../../galleryImages/images1.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../../galleryImages/images2.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../../galleryImages/images3.jpg" style="width:100%">
        </div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>
    <br><br><br>
</div>