<div class="coverPage">
  <div class="socialIcons">
    <a id="icon-s" href="https://www.linkedin.com/company/srijan-nit-silchar"
      ><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i
    ></a>
    <a id="icon-s" href="https://www.facebook.com/srijan.nits/"
      ><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i
    ></a>
    <a href="https://www.instagram.com/srijan_nits/"
      ><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i
    ></a>
    <hr id="VerticalLine" class="leftVerticalLine" />
  </div>
  <div class="contentWrapper">
    <div class="leftContentWrapper">
      <h1>Srijan 3.0</h1>
      <h2 id="SubHeader" style="opacity: 0.85 !important">
        NATIONAL INNOVATION & ENTREPRENEURSHIP SUMMIT
      </h2>
      <p>
        <span style="opacity: 0.85"
          >Overcoming The Challenges Of Entrepreneurship</span
        >
        <br /><br />
        The annual flagship event organized by the Institute Innovation Council
        & Start-up Center, NIT SILCHAR in association with IEEE ComSoc NITS
        Student Branch Chapter.
      </p>
    </div>
    <div class="rightContentWrapper">
      <span class="Sphere"></span>
    </div>
  </div>
  <div class="floating-button">
    <a id="scrollDownButton" href="">
      SCROLL DOWN
      <i class="fa-solid fa-arrow-right-long" style="width: 45px"></i>
    </a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"></script>
<script>
  const Texts = [
    "Imagineer",
    "Skepticism",
    "Clientele",
    "Management",
    "Innovation",
    "Entrepreneur",
    "Collaboration",
    "Sponsorship",
    "Marketing",
    "Finance",
    "Strategy",
    "Teamwork",
    "Capital",
    "Investment",
    "Accounting",
    "Tradin",
  ];

  var tagCloud = TagCloud(".Sphere", Texts, {
    // Sphere radius in px
    radius: 250,

    // animation speed
    // slow, normal, fast
    maxSpeed: "normal",
    initSpeed: "fast",

    // Rolling direction [0 (top) , 90 (left), 135 (right-bottom)]
    direction: 135,

    // interaction with mouse or not [Default true (decelerate to rolling init speed, and keep rolling with mouse).]
    keep: true,
  });

  // Giving color to each text in sphere
  var color = "#FF5733 ";
  document.querySelector(".Sphere").style.color = color;
</script>
