<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="javascripts/landing.js"></script>
</head>
<body onclick="clickfunction()">
    <div class="coverPage">
        <div class="socialIcons">
            <a href=""><i id="Linkedin" class="fa-brands fa-linkedin-in "></i></a>
            <a href=""><i id="Facebook" class="fa-brands fa-facebook-f "></i></a>
            <a href=""><i id="Instagram" class="fa-brands fa-instagram "></i></a>
            <hr id="VerticalLine" class="leftVerticalLine">
        </div> 
        <div class="contentWrapper">
            <div class="leftContentWrapper">
                <h1>Srijan 3.0</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, itaque maxime. Error autem veritatis quidem eum necessitatibus provident eveniet! Accusamus nostrum aperiam, excepturi ad laborum corrupti iste eaque sequi.</p>
            </div>
            <div class="rightContentWrapper">
            </div>
        </div>
        <div class="floating-button">
            <a id="scrollDownButton" href="#aboutUsSection">
                SCROLL DOWN <i class="fa-solid fa-arrow-right-long" style="width: 45px"></i>
            </a>          
        </div>
    </div>
    <div id="aboutUsSection">
        <h1>.</h1>
    </div>
    <script src="landing.js"></script>
</body>
</html>

