<div id="loader">
    <div id="loaderBackground">
    </div>
    <div id="loaderRocketContainer">
        <img src="/loader-images/roket.svg" alt="">
        
        <div id="loaderFlameContainer">           
            <img id="loaderFlame1" class="loaderFlames" src="/loader-images/flame1.svg" alt="">
            <img id="loaderFlame2" class="loaderFlames" src="/loader-images/flame2.svg" alt="">
            <img id="loaderFlame3" class="loaderFlames" src="/loader-images/flame3.svg" alt="">
        </div>
    </div>
    <div id="loaderLinesContainer">
        <img id="loaderLine1" src="/loader-images/lines.svg" alt="">
        <img id="loaderLine2" src="/loader-images/lines.svg" alt="">
    </div>
</div>