<div id="menu">
    <div id="toggle">
        toggle
    </div>
    <div id="menuContainer">
        <div id="menuList">
            <div><a href="#">Home</a></div>
            <div><a href="#">Gallery</a></div>
            <div><a href="#">Events</a></div>
            <div><a href="#">Workshops</a></div>
            <div><a href="#">Speakers</a></div>
            <div><a href="#">Team</a></div>
            <div><a href="#">Contact</a></div>
        </div>
        <div id="contactInfo">
            <h2>Contact</h2>
            <div>
                <div>Address</div>
                <div>
                    <a href="#">National Institute of Technology, Cachar, Silchar </a>
                </div>
            </div>
            
            <div>
                <div>Website</div>
                <div>
                    <a href="#">www.nits.ac.in</a>
                </div>
            </div>

            <div>
                <div>Email Address</div>
                <div>
                    <a href="#">contact@srijan-nits.in</a>
                </div>
            </div>

            <div>
                <div>Mobile number</div>
                <div>
                    <a href="#">+91-9648730225</a>
                </div>
            </div>
        </div>
    </div>
</div>