<div class="header">
  <div class="heading">Our Partners</div>
  <!-- <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis
    condimentum gravida ultrices nunc sagittis, faucibus lacus. Ornare urna nibh
    pellentesque odio senectus habitasse eu enim sit. Urna enim egestas diam
    nulla sit.
  </div> -->
</div>

<div class="sponsor-box">
  <div class="title-sponsors" id="ts1">
    <div class="sponsor-desig">Hosted <span class="grad-font">By</span></div>
    <div class="sponsors">
      <div class="sponsor-logo">
        <img src="/logos/nits-logo.png" alt="" class="sp" id="nits"/>
      </div>
      <div class="sponsor-logo">
        <img src="/logos/ecell-logo.png" alt="" class="sp" id="ecell"/>
      </div>
    </div>
  </div>
  <br />
  <div class="title-sponsors">
    <div class="sponsor-desig">In Association <span class="grad-font">With</span></div>
    <div class="sponsors">
      <div class="sponsor-logo">
        <img src="/logos/IIC.png" alt="" class="sp" id="iic" />
      </div>
      <div class="sponsor-logo">
        <img src="/logos/IEEE Comsoc.png" alt="" class="sp" id="ieee"/>
      </div>
    </div>
  </div>
  <br />
  <div class="title-sponsors">
    <div class="sponsor-desig">Technical <span class="grad-font">Partner</span></div>
    <div class="sponsors">
      <div class="sponsor-logo" id="ts">
        <img src="/logos/gdsc.svg" alt="" class="sp" id="gdsc"/>
      </div>
    </div>
  </div>
  <br />
  <div class="title-sponsors">
    <div class="sponsor-desig" id="flf">Financial Literacy <span class="grad-font">Partner</span></div>
    <div class="sponsors">
      <div class="sponsor-logo" id="fp">
        <img src="/logos/TradingC.png" alt="" class="sp" id="tc"/>
    </div>
  </div>

  <!-- <div class="first-partner" style="display: flex; flex-direction: column; min-width:60%; justify-content: center; align-items: center; margin: 0.75rem auto;">
        <div class="sponsor-desig">Hosted<span class="grad-font">by</span></div>
        <div class="divs" style="display: flex; flex-direction: row; flex-wrap: wrap; min-width: 100%; justify-content: space-evenly; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="/logos/img1.png" alt="" >
            </div>
            <div>
                <img src="/logos/img2.png" alt="" >
            </div>
        </div>

    </div>
    <div class="first-partner" style="display: flex; flex-direction: column; min-width:60%; justify-content: center; align-items: center; margin: 0.75rem auto;">
        <div class="sponsor-desig">Hosted<span class="grad-font">by</span></div>
        <div class="divs" style="display: flex; flex-direction: row; flex-wrap: wrap; min-width: 100%; justify-content: space-evenly; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="/logos/img1.png" alt="" >
            </div>
            <div>
                <img src="/logos/img2.png" alt="" >
            </div>
            
        </div>

    </div> -->
</div>

<footer>
  <div class="footer_content">
      <div class="footer_text">
          <span>A Unique Initiative by NIT Silchar<br></span>
          <span1>For the students, By the students<br><br></span1>
          <span2>In association with E-Cell NIT Silchar & Institution 's Innovation Council and IEEE ComSoc NITS Student Branch Chapter</span2>
          <div class="otherLinks">
              <ul>
                  <li><a href ="/terms&conditions">Terms and Conditions</a></li>
                  <li><a href ="/refund-policy">Refund Policy</a></li>
                  <li><a href ="/privacyPolicy">Privacy Policy</a></li>
              </ul>
          </div>
      </div>
      <!-- <ul class="social_icon">
  <li><a href="#"><img src="/galleryImages/facebook.png"></a></li>
  <li><a href="#"><img src="/galleryImages/insta.png"></a></li>
  <li><a href="#"><img src="/galleryImages/linkedin.png"></a></li>

</ul> -->
      <div class="social_icon">

          <a id="icon-s" href="https://www.facebook.com/srijan.nits/"><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i></a>
          <a href=""><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i></a>
          <a id="icon-s" href="https://www.linkedin.com/company/srijan-nit-silchar"><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i></a>
      </div>

  </div>
</footer>