<!-- SOCIAL MEDIA LINKS -->
<div class="socialIcons">
    <a id="icon-s" href=""
      ><i
        id="Linkedin"
        class="fa-brands fa-linkedin-in fa-linkedin-in-1"
      ></i
    ></a>
    <a id="icon-s" href=""
      ><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i
    ></a>
    <a href=""
      ><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i
    ></a>
    <hr id="VerticalLine" class="leftVerticalLine" />
</div>
<!-- SOCIAL MEDIA LINKS -->

<div class="header">
    <div class="heading">
        Our Sponsors
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Ornare urna nibh pellentesque odio senectus habitasse eu enim sit. Urna enim egestas diam nulla sit.
    </div>
</div>

<div class="sponsors">
    <div class="sponsor-heading">
        Recent <span class="grad-font">Sponsors</span>
    </div>

    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks1</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div>
        <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks2</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div>
        <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks3</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div>
        <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks4</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div>
        <!-- <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks5</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div>
        <div class="item">
            <div class="sponser-logo"><img src="/logos/gfg_complete_logo_2x-min.png" alt="" style="width: 70%;"></div>
            <div class="sponsor-name">GeeksForGeeks6</div>
            <div class="sponsor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus massa in senectus faucibus pharetra tellus. </div>
        </div> -->
    </div>
</div>