<div class="our-speakers">
    <div class="speaker-heading">
        Our <span class="grad-font">Speakers</span>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="speaker">
            <img src="/logos/person.svg" alt="" class="speaker-img">
            <div class="speaker-content">
                To Be Announced Soon1...!!
            </div>
        </div>
        <div class="speaker">
            <img src="/logos/person.svg" alt="" class="speaker-img">
            <div class="speaker-content">
                To Be Announced Soon2...!!
            </div>
        </div>
        <div class="speaker">
            <img src="/logos/person.svg" alt="" class="speaker-img">
            <div class="speaker-content">
                To Be Announced Soon3...!!
            </div>
        </div>
        <div class="speaker">
            <img src="/logos/person.svg" alt="" class="speaker-img">
            <div class="speaker-content">
                To Be Announced Soon4...!!
            </div>
        </div>
    </div>
</div>