<div class="our-speakers">
    <div class="speaker-heading">
        Our <span class="grad-font">Speakers</span>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="speaker">
            <img src="/speakers/shantanuJain-removebg-preview.png" alt="" class="speaker-img" id="shantanu-jain">
            <div class="speaker-content">
                <div class="speaker-name">Shantanu Jain</div>
                <div class="speaker-des">Co-Founder at Readon.in and secured AIR 10 in CA</div>
                <a href="https://www.linkedin.com/in/shantanujain13/">
                    <div class="speaker-social-media">
                        LinkedIN
                        <div class="speaker-handle-logo"><i class="fa-brands fa-linkedin"></i></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="speaker">
            <img src="/speakers/pushkarRaj-removebg-preview.png" alt="" class="speaker-img" id="pushkar-raj">
            <div class="speaker-content">
                <div class="speaker-name">Pushkar Raj Thakur</div>
                <div class="speaker-des">CEO & Founder at Coursedes Learning Solutions Pvt Ltd</div>
                <a href="https://www.linkedin.com/in/pushkar-raj-thakur-624ba67a/">
                    <div class="speaker-social-media">
                        LinkedIN
                        <div class="speaker-handle-logo"><i class="fa-brands fa-linkedin"></i></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="speaker">
            <img src="/speakers/shantanuJain-removebg-preview.png" alt="" class="speaker-img" id="shantanu-jain">
            <div class="speaker-content">
                <div class="speaker-name">Shantanu Jain3</div>
                <div class="speaker-des">Co-Founder at Readon.in and secured AIR 10 in CA</div>
                <a href="https://www.linkedin.com/in/shantanujain13/">
                    <div class="speaker-social-media">
                        LinkedIN
                        <div class="speaker-handle-logo"><i class="fa-brands fa-linkedin"></i></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="speaker">
            <img src="/speakers/shantanuJain-removebg-preview.png" alt="" class="speaker-img" id="shantanu-jain">
            <div class="speaker-content">
                <div class="speaker-name">Shantanu Jain4</div>
                <div class="speaker-des">Co-Founder at Readon.in and secured AIR 10 in CA</div>
                <a href="https://www.linkedin.com/in/shantanujain13/">
                    <div class="speaker-social-media">
                        LinkedIN
                        <div class="speaker-handle-logo"><i class="fa-brands fa-linkedin"></i></div>
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>