<div class="ourTeam">
    <div class="team">Our <span>Team</span></div>
    <!-- Chief Patrons part -->
    <div class="chiefPatron">
        <p>Chief Patron</p>
        <div class="details">
            <figure><img src="/team-images/pic.jpeg" alt="">
                <div class="social-icons">
                    <a href="#">
                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="#">
                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="#">
                        <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                            </svg>
                    </a>
                </div>
            </figure>

            <div class="fullName">
                Name
            </div>

        </div>
    </div>
    <!-- patrons part -->

    <div class="Patron">
        <p>Patron</p>
        <div class="patroncard">
            <div class="details">
                <figure><img src="/team-images/pic.jpeg" alt="">
                    <div class="social-icons">
                        <a href="#">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    Name
                </div>
            </div>
            <div class="details">
                <figure><img src="/team-images/pic.jpeg" alt="">
                    <div class="social-icons">
                        <a href="#">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    Name
                </div>
            </div>
        </div>
    </div>

    <!-- developers part -->

    <div class="developer">
        <p>Developers</p>
        <div class="developercard">
            <div class="details">
                <figure><img src="/team-images/pic.jpeg" alt="">
                    <div class="social-icons">
                        <a href="#">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    Name
                </div>
            </div>
            <div class="details">
                <figure><img src="/team-images/pic.jpeg" alt="">
                    <div class="social-icons">
                        <a href="#">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    Name
                </div>
            </div>
            <div class="details">
                <figure><img src="/team-images/pic.jpeg" alt="">
                    <div class="social-icons">
                        <a href="#">
                            <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a href="#">
                            <svg class="icon instagram" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.23992 0.920044C4.65271 0.920044 0.919922 4.65283 0.919922 9.24004V20.76C0.919922 25.3473 4.65271 29.08 9.23992 29.08H20.7599C25.3471 29.08 29.0799 25.3473 29.0799 20.76V9.24004C29.0799 4.65283 25.3471 0.920044 20.7599 0.920044H9.23992ZM9.23992 2.20004H20.7599C24.6553 2.20004 27.7999 5.34469 27.7999 9.24004V20.76C27.7999 24.6554 24.6553 27.8 20.7599 27.8H9.23992C5.34457 27.8 2.19992 24.6554 2.19992 20.76V9.24004C2.19992 5.34469 5.34457 2.20004 9.23992 2.20004ZM22.6799 6.04004C22.3404 6.04004 22.0149 6.1749 21.7748 6.41495C21.5348 6.65499 21.3999 6.98057 21.3999 7.32004C21.3999 7.65952 21.5348 7.98509 21.7748 8.22514C22.0149 8.46519 22.3404 8.60004 22.6799 8.60004C23.0194 8.60004 23.345 8.46519 23.585 8.22514C23.8251 7.98509 23.9599 7.65952 23.9599 7.32004C23.9599 6.98057 23.8251 6.65499 23.585 6.41495C23.345 6.1749 23.0194 6.04004 22.6799 6.04004ZM14.9999 7.96004C11.1194 7.96004 7.95992 11.1195 7.95992 15C7.95992 18.8805 11.1194 22.04 14.9999 22.04C18.8804 22.04 22.0399 18.8805 22.0399 15C22.0399 11.1195 18.8804 7.96004 14.9999 7.96004ZM14.9999 9.24004C18.1887 9.24004 20.7599 11.8113 20.7599 15C20.7599 18.1888 18.1887 20.76 14.9999 20.76C11.8112 20.76 9.23992 18.1888 9.23992 15C9.23992 11.8113 11.8112 9.24004 14.9999 9.24004Z" fill="white"/>
                                </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    Name
                </div>
            </div>
        </div>
    </div>
</div>