<section class="pbg">
    <div id="rectangle1" class="bgshapes"></div>
    <div id="triangle1" class="bgshapes"></div>
    <div id="rectangle2" class="bgshapes"></div>
    <div id="ellipse1" class="bgshapes"></div>
    <div id="ellipse2" class="bgshapes"></div>
    <div id="triangle3" class="bgshapes"></div>
</section>
<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="round">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
    </defs>
</svg>

<div class="ourTeam">
    <div class="section">
        <div class="team">Our <span>Team</span></div>
        <!-- Chief Patrons part -->
        <div class="chiefPatron">
            <p>Chief Patron</p>
            <div class="details">
                <figure style="overflow: hidden;"><img src="/team-images/Director.jpeg" alt="">
                    <div class="social-icons">
                        <a href="mailto:director@nits.ac.in">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V128C512 92.65 483.3 64 448 64zM64 112h384c8.822 0 16 7.178 16 16v22.16l-166.8 138.1c-23.19 19.28-59.34 19.27-82.47 .0156L48 150.2V128C48 119.2 55.18 112 64 112zM448 400H64c-8.822 0-16-7.178-16-16V212.7l136.1 113.4C204.3 342.8 229.8 352 256 352s51.75-9.188 71.97-25.98L464 212.7V384C464 392.8 456.8 400 448 400z"/></svg>
                        </a>
                        <a href="https://scholar.google.co.in/citations?user=_NQqd9YAAAAJ&hl=en" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/>
                            </svg>
                        </a>
                    </div>
                </figure>

                <div class="fullName">
                    <span1>Prof. Sivaji Bandyopadhyay</span1><br>
                    <span>DIRECTOR, NIT SILCHAR</span>
                </div>

            </div>
        </div>
    </div>
    <!-- patrons part -->

    <div class="section Patron">
        <!-- Advisors -->
        <p>Advisors</p>
        <div class=" patroncard">
            <div class="details">
                <figure><img src="/team-images/RajatGupta.jpeg" alt="">
                    <div class="social-icons">
                        <a href="mailto:rguptanitsri@gmail.com">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V128C512 92.65 483.3 64 448 64zM64 112h384c8.822 0 16 7.178 16 16v22.16l-166.8 138.1c-23.19 19.28-59.34 19.27-82.47 .0156L48 150.2V128C48 119.2 55.18 112 64 112zM448 400H64c-8.822 0-16-7.178-16-16V212.7l136.1 113.4C204.3 342.8 229.8 352 256 352s51.75-9.188 71.97-25.98L464 212.7V384C464 392.8 456.8 400 448 400z"/></svg>
                        </a>
                        <a href="http://www.nits.ac.in/departments/mech/faculty/Rajat_Gupta/rajat.html" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Dr. Rajat Gupta</span1><br>
                    <span>PRESIDENT INSTITUTIONS<BR>
                    INNOVATION COUNCIL</span>
                </div>
            </div>
            <div class="details">
                <figure><img src="/team-images/Pranjit.jpeg" alt="">
                    <div class="social-icons">
                        <a href="mailto:pranjit@che.nits.ac.in">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V128C512 92.65 483.3 64 448 64zM64 112h384c8.822 0 16 7.178 16 16v22.16l-166.8 138.1c-23.19 19.28-59.34 19.27-82.47 .0156L48 150.2V128C48 119.2 55.18 112 64 112zM448 400H64c-8.822 0-16-7.178-16-16V212.7l136.1 113.4C204.3 342.8 229.8 352 256 352s51.75-9.188 71.97-25.98L464 212.7V384C464 392.8 456.8 400 448 400z"/></svg>
                        </a>
                        <a href="https://nits.irins.org/profile/55355" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Dr. Pranjit Barman</span1><br>
                    <span>DEAN STUDENTS <BR>WELFARE</span>
                </div>
            </div>
        </div>

        <!-- Faculty Advisors -->

        <p>Faculty Conveners</p>
        <div class=" patroncard">
            <div class="details">
                <figure><img src="/team-images/wasim.jpeg" alt="">
                    <div class="social-icons">
                        <a href="mailto:arif@ece.nits.ac.in">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V128C512 92.65 483.3 64 448 64zM64 112h384c8.822 0 16 7.178 16 16v22.16l-166.8 138.1c-23.19 19.28-59.34 19.27-82.47 .0156L48 150.2V128C48 119.2 55.18 112 64 112zM448 400H64c-8.822 0-16-7.178-16-16V212.7l136.1 113.4C204.3 342.8 229.8 352 256 352s51.75-9.188 71.97-25.98L464 212.7V384C464 392.8 456.8 400 448 400z"/></svg>
                        </a>
                        <a href="https://nits.irins.org/profile/55412" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Dr. Wasim Arif</span1><br>
                    <span>ASSISTANT PROFESSOR</span>
                </div>
            </div>
            <div class="details">
                <figure><img src="/team-images/Ashish.jpeg" alt="">
                    <div class="social-icons">
                        <a href="mailto:abdeoghare@mech.nits.ac.in">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V128C512 92.65 483.3 64 448 64zM64 112h384c8.822 0 16 7.178 16 16v22.16l-166.8 138.1c-23.19 19.28-59.34 19.27-82.47 .0156L48 150.2V128C48 119.2 55.18 112 64 112zM448 400H64c-8.822 0-16-7.178-16-16V212.7l136.1 113.4C204.3 342.8 229.8 352 256 352s51.75-9.188 71.97-25.98L464 212.7V384C464 392.8 456.8 400 448 400z"/></svg>
                        </a>
                        <a href="https://nits.irins.org/profile/55410" target="blank">
                            <svg class="icon instagram" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/>
                            </svg>
                        </a>
                    </div>
                </figure>
                <div class="fullName">
                    <span1>Dr. Ashish Deoghare</span1><br>
                    <span>ASSISTANT PROFESSOR</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Team part -->

    <div class="section developer">
        <p>Core Team</p>
        <div class="developercard">
            <div class="president_div">

                <!-- Shriti Mishra -->

                <div class="details">
                    <figure><img src="/team-images/Shriti.jpg" alt="">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/shriti-mishra-m15" target="blank">
                                <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </a>
                            <a href="https://www.facebook.com/shriti.mishra.33" target="blank">
                                <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </a>
                        </div>
                    </figure>
                    <div class="fullName">
                        <span1>Shriti Mishra</span1><br>
                        <span>OVERALL<br> COORDINATOR</span>
                    </div>
                </div>

                <!-- Mayur Mulchandani -->

                <div class="details">
                    <figure><img src="/team-images/Mayur.jpg" alt="">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/mayur-mulchandani-898973198" target="blank">
                                <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100009396306613" target="blank">
                                <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </a>
                        </div>
                    </figure>
                    <div class="fullName">
                        <span1>Mayur Mulchandani</span1><br>
                        <span>OVERALL<br> CO-COORDINATOR</span>
                    </div>
                </div>

            </div>

            <div class="Leads_div">

                <div class="collaborationHead_div">
                    <div class="container">
                        <!-- Swaraj Pal Kesari -->

                        <div class="details">
                            <figure><img src="/team-images/Swaraj (1).jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/swaraj-pal-kesari-4b39311b3/" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/swarajpalkesari/" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Swaraj Pal Kesari</span1><br>
                                <span>MARKETING MANAGER</span>
                            </div>
                        </div>

                        <!-- Manav Sanghi -->

                        <div class="details">
                            <figure><img src="/team-images/manav.jpeg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/manav-sanghi-3a355b198" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/manav.sanghi" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Manav Sanghi</span1><br>
                                <span>CHIEF CURATOR</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="collaborationHead_div">
                    <div class="container">
                        <!-- Teresa Louis -->

                        <div class="details">
                            <figure><img src="/team-images/Teresa.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/teresa-louis" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/teresa.louis1" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Teresa Louis
                            </div>
                        </div>

                        <!-- Nihar Jyoti Basistha -->

                        <div class="details">
                            <figure><img src="/team-images/Nihar.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/nihar-jyoti-basisth-121b2319b" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/nihar.basisth.7" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Nihar Jyoti Basistha
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <span>COLLABORATION MANAGERS</span>
                    </div>
                </div>


                <div class="websiteHead_div">
                    <div class="container">
                        <!-- Aadi Verma -->
                        <div class="details">
                            <figure><img src="/team-images/Aadi.jpeg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/aadi-verma-429453199" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/aadi.verma.96780671" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Aadi Verma
                            </div>
                        </div>

                        <!-- Aditya Agarwal -->
                        <div class="details">
                            <figure><img src="/team-images/AdityaAgarwal.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/aditya-agarwal-1b26301a0" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100009177385701" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Aditya Agarwal
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <span>WEBSITE HEADS</span>
                    </div>
                </div>

                <div class="publicityHead_div">
                    <div class="container">
                        <!-- Prastuti Mazumdar -->
                        <div class="details">
                            <figure><img src="/team-images/Prastuti.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/prastuti-mazumdar" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://m.facebook.com/100007812845460/" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Prastuti Mazumdar
                            </div>
                        </div>

                        <!-- Bharat Gaur -->
                        <div class="details">
                            <figure><img src="/team-images/Bharat Gaur.jpeg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/bharat-gaur-212325200/" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/sharmagsachin122/" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Bharat Gaur
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <span>PUBLICITY HEADS</span>
                    </div>
                </div>

                <div class="designHead_div">
                    <div class="container">
                        <!-- Debanga Choudhury -->
                        <div class="details">
                            <figure><img src="/team-images/Debanga Choudhury.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/debanga-choudhury-3b6b131b6" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/debanga.choudhury" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Debanga Choudhury
                            </div>
                        </div>

                        <!-- Sohan Paul -->
                        <div class="details">
                            <figure><img src="/team-images/SohanPaul.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/sohan-paul/" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/paulsohan2" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Sohan Paul
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <span>DESIGN HEADS</span>
                    </div>
                </div>


                <div class="contentHead_div">
                    <div class="container">
                        <!-- Tejaswini AVSV -->
                        <div class="details">
                            <figure><img src="/team-images/Tejaswini_AVSV.jpeg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/tejaswiniavsv/" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/Tejaswini.AVSV" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Tejaswini AVSV
                                <!-- <span>CONTENT HEAD</span> -->
                            </div>
                        </div>

                        <!-- Sai Lahari -->
                        <div class="details">
                            <figure><img src="/team-images/Sai Lahari.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/sai-lahari-jayareddygari-57681a196/" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100006209748653" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                Sai Lahari
                                <!-- <span>CONTENT HEAD</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>CONTENT HEADS</span>
                    </div>

                </div>

                <div class="OtherHead_div">
                    <div class="container">
                        <!-- Abhishek Bharadwaz -->

                        <div class="details">
                            <figure><img src="/team-images/Abhishek.png" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/abhishek-bharadwaz-458993192" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/bharadwaz.abhishek" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Abhishek Bharadwaz</span1><br>
                                <span>TECHNICAL <br> MANAGER</span>
                            </div>
                        </div>

                        <!-- Abhinav Kumar Gupta -->

                        <div class="details">
                            <figure><img src="/team-images/Abhinav.jpg" alt="">
                                <div class="social-icons">
                                    <a href="#" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100003660467689" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Abhinav Kumar Gupta</span1><br>
                                <span>ENTREPRENEURIAL <br> MODULE HEAD</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="OtherHead_div">
                    <div class="container">

                        <!-- Amalendu Kumar -->

                        <div class="details">
                            <figure><img src="/team-images/Amalendu.jpg" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/amalendu-singh-9b4a99195" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="hhttps://www.facebook.com/amalenduKumarSingh" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Amalendu Kumar</span1><br>
                                <span>RECREATIONAL<br> MODULE HEAD</span>
                            </div>
                        </div>

                        <!-- Arkadeep Kashyap -->

                        <div class="details">
                            <figure><img src="/team-images/Arkadeep.webp" alt="">
                                <div class="social-icons">
                                    <a href="https://www.linkedin.com/in/kashyaparka" target="blank">
                                        <svg class="icon linkdin" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3335 10.6666C23.4552 10.6666 25.4901 11.5095 26.9904 13.0098C28.4906 14.5101 29.3335 16.5449 29.3335 18.6666V28H24.0002V18.6666C24.0002 17.9594 23.7192 17.2811 23.2191 16.781C22.719 16.2809 22.0407 16 21.3335 16C20.6263 16 19.948 16.2809 19.4479 16.781C18.9478 17.2811 18.6668 17.9594 18.6668 18.6666V28H13.3335V18.6666C13.3335 16.5449 14.1764 14.5101 15.6766 13.0098C17.1769 11.5095 19.2118 10.6666 21.3335 10.6666V10.6666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.99984 12H2.6665V28H7.99984V12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.33317 7.99996C6.80593 7.99996 7.99984 6.80605 7.99984 5.33329C7.99984 3.86053 6.80593 2.66663 5.33317 2.66663C3.86041 2.66663 2.6665 3.86053 2.6665 5.33329C2.6665 6.80605 3.86041 7.99996 5.33317 7.99996Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                    <a href="https://www.facebook.com/arko.kashyap" target="blank">
                                        <svg class="icon facebook" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0002 1.66663H12.0002C10.2321 1.66663 8.53636 2.369 7.28612 3.61925C6.03588 4.86949 5.3335 6.56518 5.3335 8.33329V12.3333H1.3335V17.6666H5.3335V28.3333H10.6668V17.6666H14.6668L16.0002 12.3333H10.6668V8.33329C10.6668 7.97967 10.8073 7.64053 11.0574 7.39048C11.3074 7.14044 11.6465 6.99996 12.0002 6.99996H16.0002V1.66663Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="fullName">
                                <span1>Arkadeep Kashyap</span1><br>
                                <span>FINANCIAL LITERACY<br> MODULE HEAD</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

</div>