<div id="preAnnouncement">
    <div id="preAnnouncementHeading">
        <div id="firstWord"><%= heading?.first ? heading.first : "" %></div>
        <div id="secondWord"><%= heading?.second ? heading.second : "" %></div>
    </div>
    <div id="preAnnouncementLottieAnimation">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_nyjw3huy.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
    </div>
    <div id="preAnnouncementText">To be announced soon...</div>
</div>