<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    <link rel="stylesheet" href="css/privacyPolicy.css">
</head>
<body>
    <div class="privacy-policy">
        <div class="secondContainer">
        <h1 class="privacy-policy-title">Refund Policy</h1>
        <div class="privacy-topics">
           
            
            <p class="privacy-desc">For details on our refund deadlines and policies, please refer to the information below; note that our policies differ for workshop and course purchases, and that payment options may vary from one to another. Please also note that we treat violations of our Terms of Service and Code of Conduct very seriously, and we have no obligation to offer refunds to students who are found to be in violation of these terms, even if their requests are made within the designated refund period. Similarly we have no obligation to offer late refunds to students who do not pass a course, or who are otherwise unsatisfied with their final grade.</p>
        </div>
        <div class="privacy-topics">
           
            <h2 class="privacy-subtopics">For Workshop Purchases</h2>
            <p class="privacy-desc">No Refund will be initiated after 1 day of payment</p>
        </div>
        <div class="privacy-topics">
           
            <h2 class="privacy-subtopics">How to request a refund</h2>
            <p class="privacy-desc">To request a refund, contact us at contact@srijan-nits.in with your email address and query.</p>
        </div>
        <div class="privacy-topics">
         
            <h2 class="privacy-subtopics">When and how we issue refunds
            </h2>
            <p class="privacy-desc">Upon determining that a refund is due to you under these Terms, we will issue such a refund within 14 days of our confirmation that such a refund is due to you.<br>
                If you are entitled to a refund we will refund you on the credit card or debit card used by you to pay for the Content.
                </p>
        </div>
       
    </div> 
    </div> 
</body>
</html>