<!-- SOCIAL MEDIA LINKS -->
<div class="socialIcons">
    <a id="icon-s" href=""
      ><i
        id="Linkedin"
        class="fa-brands fa-linkedin-in fa-linkedin-in-1"
      ></i
    ></a>
    <a id="icon-s" href=""
      ><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i
    ></a>
    <a href=""
      ><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i
    ></a>
    <hr id="VerticalLine" class="leftVerticalLine" />
</div>
<!-- SOCIAL MEDIA LINKS -->


<!-- REGISTER IMG & DESCRIPTION -->
<!-- <div class="register-info">
    <div class="register-img">
        <img src="/eventImages/pitchpleases.png" alt="">
    </div>
    <div class="register-heading">
        <h1>
            Pitch Please
        </h1>
    </div>
    <div class="register-description">
        <p></p>
    </div>
</div> -->
<!-- REGISTER IMG & DESCRIPTION -->

<% for(var i=0;i<event_list.length;i++){%>
    <% if(event_id === event_list[i].id){%>
        <div class="register-info">
            <div class="register-img">
                <img src="/eventImages/<%=event_list[i].poster_img%>" alt="">
            </div>
            <div class="register-heading">
                <h1>
                    <%=event_list[i].name %>
                </h1>
            </div>
            <div class="register-description">
                <p></p>
            </div>
        </div>

<%}%>
<%}%>



<!-- REGISTRATION FORM  -->
<div class="register-form">
    <form action="#" class="r-form" method="post">
        <label for="tname" class="team-name">Team Name <span class="tname-extra">(if Team Event)</span></label>
        <input type="text" id="tname" name="tname" placeholder="Trigo Titans">
        <br>
        <div class="name">
            <div class="name-f">
                <label for="fname" class="first-name">Name*</label>
                <input type="text" id="fname" class="fname" name="name[]" placeholder="John" required>
            </div>

            <div class="name-l">
                <label for="email" class="last-name">Email*</label>
                <input type="email" id="lname" class="lname" name="email[]" placeholder="Doe@email.com" required>
            </div>
        </div>
        <br>
        <label for="pnumber" class="phone-number">Phone Number*</label>
        <div class="number">
            <span class="cc">+91</span>
            <input type="tel" id="pnumber" class="pnumber" name="cnumber[]" placeholder="9876543210" required>
        </div>
        <br>
        <label for="gender" class="p-gender">Gender*</label>
        <select name="gender[]" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <div class="line" id="line"></div>

        <% for(var j=0;j<event_list.length;j++){%>
            <% if(event_id === event_list[j].id){%>
                <% for(var k=0;k<event_list[j].min_team_members-1;k++){%>
                    <div class="member">
                        <br><br>
                        <div class="name">
                            <div class="name-f"><label for="fname" class="first-name">Name*</label><input type="text" id="fname" class="fname" name="name" placeholder="John" required></div>
                            <div class="name-l"><label for="email" class="last-name" >Email*</label><input type="email" id="lname" class="lname" name="email"  placeholder="DSouza@email.com" required></div>
                        </div>
                        <br><label for="pnumber" class="phone-number">Phone Number*</label>
                        <div class="number"><span class="cc">+91</span><input type="tel" id="pnumber" class="pnumber" name="cnumber" placeholder="9876543210" required></div>
                        <br><label for="gender" class="p-gender">Gender*</label>
                        <select name="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <br>
                        <div class="line" id="line"></div>
                    </div>
                    <%}%>
        
        <%}%>
        <%}%>

        <!-- <div class="member">
            <br><br>
            <div class="name">
                <div class="name-f">
                    <label for="fname" class="first-name">First Name*</label>
                    <input type="text" id="fname" class="fname" placeholder="John" required>
                </div>

                <div class="name-l">
                    <label for="lname" class="last-name">Last Name*</label>
                    <input type="text" id="lname" class="lname" placeholder="DSouza" required>
                </div>
            </div>
            <br>
            <label for="pnumber" class="phone-number">Phone Number*</label>
            <div class="number">
                <span class="cc">+91</span>
                <input type="tel" id="pnumber" class="pnumber" placeholder="9876543210" required>
            </div>
            <br>
            <label for="gender" class="p-gender">Gender*</label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>
            <div class="line" id="line"></div>
        </div> -->
        <div class="members" id="members"></div>
        <div class="controls" id="controls">
            <div class="add-member" id="add-member">
                Add Member
                <img src="/logos/addMember.svg" alt="" class="add-btn">
            </div>
            <div class="sub-member" id="sub-member">
                Remove Member
                <img src="/logos/subMember.svg" alt="" class="sub-btn">
            </div>
        </div>
        
        <button class="submit" type="submit">
            Submit
            <img src="/logos/submitLogo.svg" alt="" class="submit-icon">
        </div>
    </form>
</div>
<!-- REGISTRATION FORM  -->