<div class="headingSponsors">
    <h2 class="sponsorPara">Our <span class="sponsorGradient">Sponsors</span></h2>
</div>

<div class="sponsorTotal">
    <div class="codingPartner">
        <h3 class="sponserCategory">Coding Partner</h3>
        <a href="https://www.geeksforgeeks.org/">
            <img class="sponsorImage gfg" src="/sponsorImages/gfg.png" alt="">
        </a>
        <h4 class="sponsorName">GeeksforGeeks</h4>
    </div>
    <div class="digitalPartner">
        <h3 class="sponserCategory">Digital Partner</h3>
        <a href="https://www.blackmarbles.tech/">
            <img class="sponsorImage marble" src="/sponsorImages/blackmarble.png" alt="">
        </a>
        <h4 class="sponsorName">Black Marbles</h4>
    </div>
    <div class="mediaPartner">
        <h3 class="sponserCategory">Media Partner</h3>
        <a href="https://www.noticebard.com/">
            <img class="sponsorImage notice" src="/sponsorImages/noticebard.png" alt="">
        </a>
        <h4 class="sponsorName">Notice Bard</h4>
    </div>
    <div class="credentialsPartner">
        <h3 class="sponserCategory">Credentials Partner</h3>
        <a href="https://www.truscholar.io/">
            <img class="sponsorImage tscholar" src="/sponsorImages/truscholar.png" alt="">
        </a>
        <h4 class="sponsorName">TruScholar</h4>
    </div>
</div>