<p class="workName">
    <span>Workshop</span>
    <span2> List</span2>
</p>
<div class="groups-row">
    <div class="list" id="list-1">
        <!-- <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"   fill="#C4C4C4" >
                    
                </circle>
              </svg> -->
              <div class="workshop-image">
                <div class="event-icon" id="event-icon"><img id="event-logo" src="images/pitch.png" alt=""></div>
            </div>
        <p class="title">Obstacles to Opportunities</p>
        <div class="content">Blooming startups have prospering entrepreneurs who are supporting everyone to satisfactorily meet their needs via various products or services they deliver in this contemporary period, due to the rise in demands of the increasing population. When the idea of starting a successful business comes to mind, familiarity with the term "Entrepreneurship" is a prerequisite.
        </div>
    </div>
    <!-- <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45" fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div> -->
    <!-- </div> -->

</div>