<p class="workName">
    <span>Workshop</span>
    <span2> List</span2>
</p>
<div class="groups-row">
    <div class="list" id="list-1">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"   fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45"  fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>
    <div class="list">
        <svg height="100" width="100">
                <circle cx="50" cy="50" r="45" fill="#C4C4C4" />
              </svg>
        <p class="title">Digital Marketing</p>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus.
        </div>
    </div>

</div>