<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <title>Srijan Website 2022</title>
</head>

<body>
    <div class="workshop">
        <%- include("partials/eventlist") %>
    </div>
<script>
    let eventList = document.getElementById('event-scroll-container');
let eventLogo = document.getElementById('event-logo');
let eventIcon = document.getElementById("event-icon")
var query1 = window.matchMedia("(max-width:730px)");
var query2 = window.matchMedia("(max-width:500px)");
console.log("heu")
window.addEventListener('scroll',(e)=>{
  
    let eventList = document.getElementById('event-scroll-container');
//   var x = eventList.scrollLeft;
  let x = window.scrollY;
  var y = eventList.scrollTop;
  console.log(x);
//   console.log(y);
//   if(window.matchMedia("(max-width: 730px)").matches) {
//     if(x<3022){
//         eventLogo.src='images/technerd.svg'
//     }
//     if(x>=3022 && x<3475.3){
//         eventLogo.src='images/en auction.svg'
//     }
//     if(x>=3475.3 && x<3850.6){
//         eventLogo.src='images/pitch.svg'
//     }
//     if(x>=3850.6 && x<4264){
//         eventLogo.src='images/pannel discussion.svg'
//     }
//     if(x>=4264){
//         eventLogo.src='images/idea exchange.svg'
//     }
  
// }
// else 
// if(query2.matches){
//     if(x<2714){
//         eventLogo.src='images/technerd.png'
//     }
//     if(x>=2714 && x<3008){
//         eventLogo.src='images/en auction.png'
//     }
//     if(x>=3008 && x<3268.6){
//         eventLogo.src='images/pitch.png'
//     }
//     if(x>=3268.6 && x<3554.6){
//         eventLogo.src='images/pannel discussion.png'
//     }
//     if(x>=3554.6){
//         eventLogo.src='images/idea exchange.png'
//     }
// }
if(query2.matches){
    if(x<2890.6){
        eventLogo.src='images/pitch.png'
    }
    if(x>=2890.6){
        eventLogo.src='images/technerd.png'
    }
    // if(x>=3176.6 && x<3523.3){
    //     eventLogo.src='images/pitch.svg'
    // }
    // if(x>=3523.3 && x<3816){
    //     eventLogo.src='images/pannel discussion.svg'
    // }
    // if(x>=3816){
    //     eventLogo.src='images/idea exchange.svg'
    // }
}
else{
   
    if(x<2777){
        eventLogo.src='images/pitch.png'
    }
    if(x>=2777){
        eventLogo.src='images/technerd.png'
    }
    // if(x>=3152.6 && x<3513.3){
    //     eventLogo.src='images/pitch.png'
    // }
    // if(x>=3513.3 && x<3882.6){
    //     eventLogo.src='images/pannel discussion.png'
    // }
    // if(x>=3882.6){
    //     eventLogo.src='images/idea exchange.png'
    // }
  
}

  
})
</script>
</body>

</html>