<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/eventPage.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Srijan 3.0</title>
</head>
<body>
    
    <%- include("./partials/menu.ejs") %>

    <div id="main">
        
        <!-- SOCIAL MEDIA LINKS -->
        <div class="socialIcons">
            <a  id="icon-s" href=""
              ><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i
            ></a>
            <a id="icon-s" href=""
              ><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i
            ></a>
            <a href=""
              ><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i
            ></a>
            <hr id="VerticalLine" class="leftVerticalLine" />
          </div>
        <!-- SOCIAL MEDIA LINKS -->

        <!-- EVENTS -->
          <div id="eventListContainer">
            <div tabindex="0" id="eventDropDown">
              <div id="CurrentEventText">Events</div>
              <div id="dropDownOptionsContainer">
                <div class="dropDownOption" value="events">Events</div>
                <div class="dropDownOption" value="events1">Events1</div>
                <div class="dropDownOption" value="events2">Events2</div>
              </div>
            </div>
            <div id="eventList">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        <!-- EVENTS -->

    </div>

    
    <script src="/js/menu.js"></script>
    <script src="/js/eventPage.js"></script>
</body>
</html>