<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/LaunchPage.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- SCROLL ANIMATION PACKAGE -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- SCROLL ANIMATION PACKAGE -->
  <title>Srijan 3.0</title>
</head>

<body>
  <div class="launch_main ">
  <div class="launch_body">
    <div class="lottie">

      <div id="lottie" class="">
        <div class="launch_content">
          <h1>SRI&nbsp3.0</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="launch_text">
    <h5>Coming soon.....</h5>
    <h4>15 March 2022</h4>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"
    integrity="sha512-CWKGqmXoxo+9RjazbVIaiFcD+bYEIcUbBHwEzPlT0FilQq3TCUac+/uxZ5KDmvYiXJvp32O8rcgchkYw6J6zOA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var animItem = bodymovin.loadAnimation({
      wrapper: document.getElementById('lottie'), // Required
      path: 'https://assets6.lottiefiles.com/packages/lf20_hxf2ebxy.json', // Required
      renderer: 'svg', // Required
      loop: true, // Optional
      autoplay: true, // Optional
      name: "Hello World", // Name for future reference. Optional.
    })

  </script>

</body>

</html>