<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/ourCollaboration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Collaborations</title>
</head>
<body>
    <%- include("./partials/loader.ejs") %>
    <%- include("./partials/menu.ejs") %>

    <div class="header">
      <div class="heading">Our Collaborations</div>
      <!-- <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis
      condimentum gravida ultrices nunc sagittis, faucibus lacus. Ornare urna nibh
      pellentesque odio senectus habitasse eu enim sit. Urna enim egestas diam
      nulla sit.
    </div> -->
  </div>
  
  <div class="sponsor-box">
      <div class="title-sponsors" id="ts1">
          <div class="sponsor-desig">Knowledge <span class="grad-font">Partner</span></div>
          <div class="sponsors">
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                    <img src="/logos/LWTlogo.png" alt="" class="sp" id="nits" />
              </div>
            </a>
          </div>
      </div>
      <br />
      <div class="title-sponsors">
          <div class="sponsor-desig">Skill <span class="grad-font">Partner</span></div>
          <div class="sponsors">
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                  <img src="/logos/TMlogo.png" alt="" class="sp" id="iic" />
              </div>
            </a>
          </div>
      </div>
      <br />
      <div class="title-sponsors">
          <div class="sponsor-desig">Technical <span class="grad-font">Partner</span></div>
          <div class="sponsors">
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                  <img src="/logos/JANTAGROUPlogo.png" alt="" class="sp" id="nits" />
              </div>
            </a>
          </div>
      </div>
      <br />
      <div class="title-sponsors">
          <div class="sponsor-desig">Education <span class="grad-font">Partner</span></div>
          <div class="sponsors">
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                  <img src="/logos/SSStartlogo.png" alt="" class="sp" id="nits" />
              </div>
            </a>
          </div>
      </div>
      <br />
      <div class="title-sponsors">
          <div class="sponsor-desig">Networking <span class="grad-font">Partner</span></div>
          <div class="sponsors">
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                  <img src="/logos/Ehub.png" alt="" class="sp" id="nits" />
              </div>
            </a>
            <a href="#" class="sponsor-link">
              <div class="sponsor-logo">
                  <img src="/logos/yen.png" alt="" class="sp" id="nits" />
              </div>
            </a>
          </div>
      </div>
      <br />
      <!-- <div class="title-sponsors">
          <div class="sponsor-desig">Networking <span class="grad-font">Partner</span></div>
          <div class="sponsors">
              <div class="sponsor-logo" id="ts">
                  <img src="/logos/yenlogo.png" alt="" class="sp" id="nits" />
              </div>
          </div>
      </div>
      <br /> -->
  
      <footer>
          <div class="footer_content">
              <div class="footer_text">
                  <span>A Unique Initiative by NIT Silchar<br></span>
                  <span1>For the students, By the students<br><br></span1>
                  <span2>In association with E-Cell NIT Silchar & Institution 's Innovation Council and IEEE ComSoc NITS Student Branch Chapter</span2>
                  <div class="otherLinks">
                      <ul>
                          <li><a href="/terms&conditions">Terms and Conditions</a></li>
                          <li><a href="/refund-policy">Refund Policy</a></li>
                          <li><a href="/privacyPolicy">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
              <!-- <ul class="social_icon">
    <li><a href="#"><img src="/galleryImages/facebook.png"></a></li>
    <li><a href="#"><img src="/galleryImages/insta.png"></a></li>
    <li><a href="#"><img src="/galleryImages/linkedin.png"></a></li>
  
  </ul> -->
              <div class="social_icon">
  
                  <a id="icon-s" href="https://www.facebook.com/srijan.nits/"><i id="Facebook" class="fa-brands fa-facebook-f fa-facebook-f-1"></i></a>
                  <a href=""><i id="Instagram" class="fa-brands fa-instagram fa-instagram-1"></i></a>
                  <a id="icon-s" href="https://www.linkedin.com/company/srijan-nit-silchar"><i id="Linkedin" class="fa-brands fa-linkedin-in fa-linkedin-in-1"></i></a>
              </div>
  
          </div>
      </footer>

    <script src="/js/loader.js"></script>
    <script src="/js/menu.js"></script>
</body>
</html>