<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Technerd</title>
    
    <link rel="stylesheet" href="/css/eventDetail.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <%- include("./partials/loader.ejs") %>
    <%- include("./partials/menu.ejs") %>

    
    <div class="privacy-policy">
        <div class="secondContainer">
        <h1 class="privacy-policy-title">Rules and Regulations</h1>
        <div class="privacy-topics">
           
            <h2 class="privacy-subtopics">OVERVIEW</h2>
            <p class="privacy-desc">

                
In this fast-paced global world, technology is flourishing at a tremendous rate and has become a cornerstone in making a concept develop into reality.<br><br>

Are you excited to flaunt your technological prowess and help in resolving real-world issues?<br><br>

Here it is!! The right place for you. Srijan 3.0 provides you with a sporting chance, Technerd, a competition that allows you to demonstrate your technical expertise. Utilize your technical competencies to overcome all the barriers to your idea and bring about a satisfactory output that is beneficial to everyone.<br><br>

So, what are you waiting for?<br><br>

Come up with your crew and show your unabashed technical expertise by devising a solution for a given problem statement.<br><br>

            </p>
        </div>
        <div class="privacy-topics">
           
            <h2 class="privacy-subtopics">Organizer</h2>
            <p class="privacy-desc">
                Google Developer Student Clubs, NIT Silchar <br>
                Jyotimoy Kashyap<br>
                Soumya Ranjan Mohapatro<br>                
            </p>
        </div>
        <div class="privacy-topics">
           
            <h2 class="privacy-subtopics">Event Team Composition</h2>
            <p class="privacy-desc">
                2-4 People in Each Team(min. 2, max. 4) <br>
                Format: 2 Rounds                
            </p>
        </div>
        <div class="privacy-topics">
         
            <h2 class="privacy-subtopics">Round 1</h2>
            <p class="privacy-desc">
                Technical Presentation (to be judged by seniors based on the idea and
                implementation process) <br><br>
                <b>Rules:</b><br><br>
                1. Teams must have at least 2 and at max members to be a valid participating team.<br>
                2. Teams have to submit their solution on the given problem statement for their
                solution to be considered valid.<br>
                3. Members of one team should only be registered once. If any discrepancies are<br>
                found, and a member of the team is found in more than one team, both the
                teams will be disqualified.<br>
                4. Teams are required to submit the solution to only one problem statement. Only
                the submission at the time of closing will be considered a valid submission.<br>
                5. The teams will be required to submit a document of not more than 500 words and
                3-4 pictures after registering for the event.<br>
                6. The submission should be mailed to technerds.srijan@gmail.com on or before
                11.59 PM, 7 April 2022.<br>
                7. Following the initial screening, the participating teams will be invited in front of a
                panel of judges, who shall judge the idea’s technical viability and question the
                participants regarding the implementation of their said ideas.<br>
                8. The top 10 selected teams will be sent to the next round.<br>
            </p>
        </div> <br><br>
        <div class="privacy-topics">
         
            <h2 class="privacy-subtopics">Round 2</h2>
            <p class="privacy-desc">
                Economic Expansions and Implementation Discussion ( with the invited judge ) <br><br>
                <b>Rules:</b><br><br>
                1. Teams must have at least 2 and at max members to be a valid participating team.<br>
                2. Teams have to submit their solution on the given problem statement for their
                solution to be considered valid.<br>
                3. Members of one team should only be registered once. If any discrepancies are<br>
                found, and a member of the team is found in more than one team, both the
                teams will be disqualified.<br>
                4. Teams are required to submit the solution to only one problem statement. Only
                the submission at the time of closing will be considered a valid submission.<br>
                5. The teams will be required to submit a document of not more than 500 words and
                3-4 pictures after registering for the event.<br>
                6. The submission should be mailed to technerds.srijan@gmail.com on or before
                11.59 PM, 7 April 2022.<br>
                7. Following the initial screening, the participating teams will be invited in front of a
                panel of judges, who shall judge the idea’s technical viability and question the
                participants regarding the implementation of their said ideas.<br>
                8. The top 10 selected teams will be sent to the next round.<br>
                9. The marking is subject to the judge
                10. The selected teams have to brief the judge about the economic viability,
                expanding capability and scalability of their idea, and present the overall
                business model, along with an estimation of their gross net revenue over a year.
            </p>
        </div> <br><br>
        <div class="privacy-topics">
         
            <h2 class="privacy-subtopics">Prizes</h2>
            <p class="privacy-desc">
                1. There will not be the traditional first, second, third place prize system for the
                TechNerds.<br>
                2. There shall be 3 categories of prizes, namely:<br>
                &ensp; a. Most Viable Business Model<br>
                &ensp; b. Best Technically Sound Product<br>
                &ensp; c. Best of Both Worlds<br>                
            </p>
        </div> <br><br>
        <div class="privacy-topics">
         
            <h2 class="privacy-subtopics">Timeline(tentative)</h2>
            <p class="privacy-desc">
                1. Last of Date of Submission of Document: 7 April 2022 <br>
                2. Round 1: April 9, 9:00 AM <br>
                3. Round 1: Result Declaration: April 9, 11:00 PM <br>
                4. Round 2: April 10, 11:00 AM <br>
                5. Result Declaration: April 13, 8:00 PM <br>                      
            </p>
        </div> <br><br>

        <a href="/register/pitch-please" class="registerFormLink"
        ><span class="registerFormLinkText">
            Register Now <i class="fa-solid fa-arrow-right"></i>
        </span>
        </a>
    </div>

</body>

<script src="/js/loader.js"></script>
<script src="/js/menu.js"></script>
</html>