@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}

.body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.about-outer{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin: 5% 7%;
    margin-left: 10%;
}
.about-text{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* left: -17%; */
}
.about-event, .about-nits{
    margin: 5% 0;

}
.about-heading{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 56px;
}
.about-span{
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-description{
    font-family: Gilroy;
    font-weight: medium;
    position: relative;
    font-size: 1.5rem;
    line-height: 35.83px;
    color: rgba(21, 19, 26, 0.72);
    width: 80%;
    font-weight: 500;
    margin: 2% 0;
}
@keyframes spin {
    to{
        transform: rotate(0.5turn);
    }
}
@keyframes spin2 {
    to{
        transform: rotate(0turn);
    }
}
.about-anim.flipped{
    position: sticky;
    top: 25%;
    right: 10%;
    height: fit-content;
    transform: rotate(0.5turn);
}
.about-anim{
    position: sticky;
    top: 25%;
    right: 10%;
    height: fit-content;
}
.about-anim.animate-clockwise{
    position: sticky;
    top: 25%;
    right: 10%;
    height: fit-content;
    animation: spin 1.5s 1;
}
.about-anim.animate-anticlockwise{
    position: sticky;
    top: 25%;
    right: 10%;
    height: fit-content;
    animation: spin2 1.5s 1;
}
/* .about-anim.absolute{
    position: absolute;
    top: 25%;
    left: 60%;
    height: fit-content;
    animation: spin 1.5s 1;
} */
.circle{
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    border: 1.2px solid rgba(21, 19, 26, 0.64);
}
.logo-circle-l, .logo-circle-s{
    position: absolute;
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
}
.logo-circle-l.flipped{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 47%;
    left: -3.5%;
    transform: rotate(-0.5turn);
}
.logo-circle-l.transition{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 47%;
    left: -3.5%;
    transform: rotate(-0.5turn);
    /* transition: all 0.5s ease; */
}
/* .logo-circle-l.transition{
    transform: rotate(-0.5turn);
} */
.logo-circle-l{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: 37%;
    left: -11%;
    transition: all 0.5s ease;
}
.about-logo1.hidden{
    display: none;
}
.about-logo1{
    position: relative;
    width: 50%;
}
.logo-circle-s.flipped{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: 37%;
    right: -11%;
    transition: all 0.5s ease;
    transform: rotate(0.5turn);
}
.logo-circle-s.transition{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 45%;
    right: -4%;
}
.logo-circle-s{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 45%;
    right: -4%;
}
.about-logo2.hidden{
    display: none;
}
.about-logo2{
    position: relative;
    width: 50%;
}
.about-event.invisible, .about-nits.invisible{
    visibility: hidden;
    transition: all 2s ease;
}

@media (max-width:768px) {
    .about-outer{
        display: flex;
        position: relative;
        top: -12rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .about-text
    {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        left: 0%;
        scroll-snap-type: y mandatory;
    }
    .about-event, .about-nits{
        display: flex;
        visibility: visible;
        flex-direction: column;
        align-items: center;
        scroll-snap-align: start;
        /* transition: all 2s ease; */
    }
    .about-event.invisible, .about-nits.invisible{
        visibility: hidden;
        transition: all 2s ease;
    }
    .about-heading{
        font-size: 1.3rem;
    }
    .about-description{
        text-align: center;
        font-size: 1.2rem;
    }
    .about-anim{
        position: relative;
        left: 3px;
        margin-bottom: 10%;
        transition: 0s;
        animation: 0s;
    }
    .about-anim.absolute{
        position: relative;
        left: 0;
        margin-bottom: 10%;
        transition: 0s;
        animation: 0s;
    }
    .about-anim.sticky{
        position: sticky;
        left: 3px;
        top: -14%;
        transition: 0s;
        animation: 0s;
    }
    .circle{
        width: 20rem;
        height: 20rem;
    }
    .logo-circle-l{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        top: 80%;
        left: 30%;
    }
    .logo-circle-l.transition{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        top: 94%;
        left: 43%;
    }
    .logo-circle-s{
        display: none;
    }
    .about-logo1.hidden,.about-logo2.hidden{
        display: none;
    }
}