/* SOCIAL MEDIA LINKS */

/* FONT */

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


/* FONT */

* {
  font-family: Gilroy;
}


/* ROOT */

:root {
  font-size: 16px;
  --primary: #970ED9;
  --secondary: #06A9CE;
  --tertiary: #15131A;
  --text-primary: #FFFFFF;
}


/* ROOT */

body{
    background-color: #15131a;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3rem;
  top: 25%;
  z-index: 130;
}

.socialIcons i {
  margin-bottom: 10px;
  transition: 250ms;
}

.fa-linkedin-in-1,
.fa-facebook-f-1 {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  margin-left: 5px;
  -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: hsla(0, 0%, 100%);
}

.fa-instagram-1 {
  font-size: 2.25rem;
  padding: 1rem;
  color: white;
}

.linkedin-1,
.facebook-1 {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  margin-left: 5px;
  -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: hsla(0, 0%, 0%);
}

.instagram-1 {
  font-size: 2.25rem;
  padding: 1rem;
  color: black;
}

.socialIcons i:hover {
  transform: scale(0.85);
  -webkit-text-stroke-width: 0px;
  background-image: linear-gradient(0deg, #1fd1f9, #b621fe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftVerticalLine {
  height: 2px;
  width: 120px;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  left: -1.9rem;
  top: 135%;
  border-radius: 5px;
}
/* SOCIAL MEDIA LINKS */


/* EVENTS */
.eventList{
  position: relative;
  height: 30rem;
  width: 70rem;
  padding: 0.5rem;
  overflow: hidden;
  padding-right: 10%;
  margin-right: -10%;
  
  display: none;
}

.eventList.active{
  display: block;
}

/* edited by manash */

#eventList::-webkit-scrollbar {
  display: none;
}

/* edited by manash */

#eventType{
  border: 0.01rem solid rgb(255, 255, 255,0.24);
  outline: none;
}
#eventListContainer{
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#eventDropDown {
  position: relative;
  width: 15rem;
  height: 2.5rem;
  margin-left: auto;
  z-index: 10;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  border: 0.01rem solid rgb(255, 255, 255,0.24);
}

#eventDropDown::before {
  content: "";
  position: absolute;
  top: 35%;
  transform: translate(0,-50%);
  right: 10%;
  z-index: 1000;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 0.125rem solid var(--text-primary);
  border-left: 0.125rem solid var(--text-primary);
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

#eventDropDown.active::before {
  top: 45%;
  transform: rotate(-225deg);
}

#CurrentEventText{
  color: var(--text-primary);
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 10%;
  border: none;
  outline: none;
}

#dropDownOptionsContainer {
  position: relative;
  top: -50%;
  width: 100%;
  color: var(--text-primary);
  background: var(--tertiary);
  border-radius: 0.5rem;
  border: 0.01rem solid rgb(255, 255, 255,0.24);
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#eventDropDown.active #dropDownOptionsContainer {
  top: 25%;
  pointer-events: auto;
  opacity: 1;
}

#eventDropDown #dropDownOptionsContainer .dropDownOption  {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-left: 10%;
  transition: 0.3s;
  border-bottom: 0.01rem solid rgb(255, 255, 255,0.24);
  cursor: pointer;
}
#eventDropDown #dropDownOptionsContainer .dropDownOption:last-child  {
  border: none;
}

#eventDropDown #dropDownOptionsContainer .dropDownOption:hover {
  background-color: rgb(255, 255, 255,0.24);
  color: var(--text-primary);
}


/* EVENTS */

/* EVENT-CONTENTS */

.eventContainer > *{
  margin: 0;
}

.eventContainer{
  position: absolute;
  background-color: var(--tertiary);
  height: 30rem;
  width: 70rem;
  display: flex;
  flex-direction: row;
  transition: 0.4s;
  border-radius: 1rem;
  border: 0.01rem solid rgb(255, 255, 255,0.24);
  overflow: hidden;
}

.eventContainer.active{
  opacity: 1;
  top: 0;
}

.eventContainer.next{
  opacity: 0;
  top: 100%;
}

.eventContainer.previous{
  transform: scale(0.5);
  opacity: 0;
  top: 0;
}

.eventImageWrapper{
  height: 100%;
}
.eventImage{
  height: 100%;
}

.eventContentWrapper{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem 1.8rem;  
}

.eventContentWrapper .eventHeader{
  font-size: 3.375rem;
  font-weight: bold;
  color: rgba(255, 255, 255);
  margin: 0 0 2rem 0;
}

.eventContentWrapper .eventDetail{
  font-size: 1.25rem;
  font-weight: regular;
  color: rgba(255, 255, 255, 0.72);
  line-height: 1.5;
  margin: 0;
}

.registerFormLink{
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  margin: auto 0;
}

.registerFormLinkText{
  background-image: linear-gradient(90deg, #22FAB0, #1FD1F9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* EVENT-CONTENTS */

/* Event Scroll bar */

.eventListScrollDotBar{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 4%;
  transform: translate(50%,-50%);
  gap: 0.5rem;
  /* transition: 0.3s; */
}

.eventListScrollDot{
  background-image: linear-gradient(94.73deg, #22FAB0 3%, #1FD1F9 59.59%);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 0.37rem;
  transition: 0.3s;
}

.eventListScrollDot.active{
  height: 2rem;
}

/* Event Scroll bar */

/* Event scroll buttons */

.arrowButtonContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  right: 4%;
  top: 50%;
  transform: translate(50%,-50%);
  z-index: 15;
}

.arrowButton{
  width: 1.25rem;
  height: 1.25rem;
  border-left: 0.2rem solid var(--text-primary);
  border-top: 0.2rem solid var(--text-primary);
  transition: 0.3s;
}

.arrowButton:hover{
  border-left: 0.2rem solid var(--secondary);
  border-top: 0.2rem solid var(--secondary);
}

.arrowButton.up{
  transform: rotateZ(45deg);
}

.arrowButton.down{
  transform: rotateZ(225deg);
}

/* Event scroll buttons */

/* responsive-codes */

@media(max-width: 850px){
  .socialIcons{
    display: none;
  }

  #eventListContainer{
    top: 5rem;
    transform: translate(-50%,0);
  }

  #eventDropDown{
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
  }

  .eventList{
    top: 57%;
    width: 65vw;
    height: 70vh;
    padding: 0.5rem;
    padding-bottom: 8vh;
    margin-bottom: -8vh;
  }

  .eventContainer{
    height: 70vh;
    width: 65vw;
    flex-direction: column;
    align-items: center;
  }

  .eventImageWrapper{
    height: 30%;
    width: auto;
    overflow: hidden;
    border-radius: 0.25rem;
    margin: 0 1.25rem;
    margin-top: 1.25rem;
    border-radius: 0.75rem;
  }

  .eventImage{
    height: auto;
    width: 100%;
  }

  .eventContentWrapper{
    text-align: center;
    padding: 1.25rem;
  }

  .eventContentWrapper .eventDetail{
    text-align: justify;
  }

  .eventContainer.next{
    top: 0;
    left: 100%;
    transform: scale(0.5);
  }

  .eventContainer.previous{
    top: 0;
    left: -100%;
    transform: scale(0.5);
  }

  .eventContainer.active{
    opacity: 1;
    left: 50%;
    transform: translate(-50%,0);
  }

  .eventContentWrapper .eventHeader{
    font-size: 3rem;
  }

  .eventContentWrapper .eventDetail{
    font-size: 1rem;
    text-align: justify;
  }

  .eventListScrollDotBar{
    top: unset;
    bottom: 3vh;
    right: 50%;
    transform: translate(50%,50%);
    flex-direction: row;
  }

  .eventListScrollDot.active{
    height: 0.75rem;
    width: 2rem;
  }

  .arrowButtonContainer{
    top: unset;
    bottom: 3vh;
    right: 50%;
    flex-direction: row;
    height: auto;
    width: 80%;
    transform: translate(50%,50%);
  }

  .arrowButton.up{
    transform: rotateZ(-45deg);
  }

  .arrowButton.down{
    transform: rotate(135deg);
  }
}

@media(max-width: 600px){

  #eventDropDown{
    width: 85vw;
  }

  .eventList{
    width: 90vw;
  }

  .eventContainer{
    width: 90vw;
  }

  .eventContentWrapper .eventHeader{
    font-size: 2rem;
  }

  .eventContentWrapper .eventDetail{
    font-size: 0.9rem;
    text-align: justify;
  }

  .eventListScrollDot{
    height: 0.5rem;
    width: 0.5rem;
  }

  .eventListScrollDot.active{
    height: 0.5rem;
    width: 1.25rem;
  }

  .arrowButton{
    height: 1rem;
    width: 1rem;
  }
}

/* responsive-codes */