@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root{
    --gradient1:linear-gradient(#B621FE,#1FD1F9);
    --gradient2:linear-gradient(to right,#22FAB0 0%,#1FD1F9 59.44%);
    --title-font:'Gilroy-Bold', sans-serif;
    --desc-font:'Gilroy-Medium', sans-serif;
    --border-width:2px;
}

body{
    overflow-x: hidden;
}

.container{
    
    background-color: #15131A;
    display:flex;
   flex-direction: column;
    color:white;
    align-items: center;
    height:fit-content;
    padding: 40px 0;
z-index: -999;
position: relative;
}

.desc-container{
    display: flex;
justify-content: center;
padding: 12px 0;
  /* flex-direction: column;  */
}

.title h1{
    text-align: center;
    /* padding:0 10px; */
    font-family: var(--title-font);
    font-size: 3.5rem;

}

.title h1 span{
    background-image:var(--gradient1);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
}

.heading{
    position: sticky;
  top:0px;
   z-index: 1;
   width:100%;
   display:flex;
   justify-content: center;
   padding:50px 0;
   background-color: #15131A;
}
.extra{
    display:flex;
    justify-content: space-between;
    

}
.image-container{
    top:194px;
    position: sticky;
}
.icon{
width: 120px;
height: 120px;
margin: 60px 120px;
border: double 2px transparent;
  border-radius: 120px;
  background-image: linear-gradient(#15131A,#15131A),var(--gradient1);
  background-origin: border-box;
  background-clip: content-box, border-box;
 top:240px;
 position: sticky;
  
}

.icon img{
    width:100%;
    height:100%;
   padding:35px;

}

#logo{
    opacity: 1;
}

.events{
     width:50%; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* overflow: auto; */
     position: sticky;
     top:0;
     /* margin:47px 0; */
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
     
}
.btn{
     color:#ffffff;
     width: 100px;
    font-family: var(--desc-font);
    margin: 10px 0;
height: 34px;
  border: double 2px transparent;
  border-radius: 6px;
  background-image: linear-gradient(#15131A,#15131A),var(--gradient2);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.no-display{
    display:none;
}

#event1 p{
    margin:20px 0;
    font-family: var(--desc-font);
    color:rgba(255, 255, 255, 0.72);
    
    font-size: 1.18rem;
}

.event{
    
display: flex;
flex-direction: column;
/* margin: 47px 0; */
/* transition: display 0.5s ease-in-out; */
}
 #event1 {
    top:190px;
    position: sticky;
}
#event2 .btn{
    display: none;
}
#event3 .btn{
    display: none;
}
#event4 .btn{
    display: none;
}
#event2 {
    color: transparent;
    opacity: 0;
}
#event3{
    color: transparent;
    opacity: 0;
}
#event4 {
    color: transparent;
    opacity: 0;
}

.event h2{
    font-family: var(--title-font);
    font-size: 2rem;
    margin:2px 0;
}

@media screen and (max-width:915px) {
  
    .desc-container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .title h1{
       font-size: 2.5rem;
    }
    
    .image-container{
        top:150px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #15131A;
    }
    .icon{
        margin:0;
        height: 100px;
        width:100px;
       
        
    }
    .icon img{
        padding: 28px;
    }
    .register-now{
        display: none;
    }
    .event{
        /* display: flex; */
        /* flex-direction: column; */
      padding:0 10px;
     
    }
     
      
    
    #event1 {
        top:300px;
        position: sticky;
    }
    .events{
       
        width: 60%;
       /* flex-direction: row; */
    
      
    }
    .events p{
        text-align: center;
        font-size: 0.75rem;
    }
    .event h2{
        text-align: center;
        font-size: 1.75rem;
    }
    .btn{
        margin: 10px auto;
    }
    .extra{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .heading{
        /* position:sticky;*/
        top:30px; 
        
        background-color: #15131A;
        padding:30px;
        width:100%;
    }
 
}

@media screen and (max-width:500px){
    .events{
        width:80%;
    }
}