@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.contact_info {
    margin-top: 2.5%;
    background-color: white;
}

.contact_heading {
    color: #111;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 5%;
    font-family: Gilroy;
}

.contact_heading span2 {
    background-image: linear-gradient(#b621fe, #1fd1f9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: Gilroy;
}

.further_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10%;
    font-family: Gilroy;
}

.further_info h2 {
    font-weight: bold;
    font-size: 20px;
}

.further_info h5 {
    font-weight: normal;
}

.Address h5 {
    margin: 2px auto;
}

@media only screen and (max-width: 500px) {
    .further_info {
        flex-wrap: wrap;
    }
    .further_info {
        flex-direction: column;
    }
    .child_info {
        margin: 25px auto;
    }
    .otherLinks ul{
        flex-direction: column;

    }
    .otherLinks ul a{
        font-size: 1rem;
    }
}

body {
    background: #fcfcfc;
    width: 100%;
}

footer {
    background: #111;
    height: auto;
    width: 100%;
    font-family: sans-serif;
    padding-top: 9%;
    padding-bottom: 8%;
    color: #fff;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_text {
    flex-direction: wrap;
    margin-left: 8%;
    margin-right: 5%;
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1rem;
}

.footer_text span {
    font-size: 2rem;
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Gilroy';
    font-weight: bold;
}

.footer_text span1 {
    font-size: 1.5rem;
}

.social_icon {
    list-style: none;
    display: flex;
    margin-top: 40px;
    
}

.social_icon i {
    transition: 250ms;
}

.social_icon i:hover {
    transform: scale(0.85);
    -webkit-text-stroke-width: 0px;
    background-image: linear-gradient(0deg, #1fd1f9, #b621fe);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social_icon li {
    margin: 0px 15px;
}

.child_info {
    text-align: center;
}

.otherLinks{
    display:flex;
    width:100%;
    justify-content: center;
}

.otherLinks ul{
    list-style: none;
    display:flex;
    width:45vw;
    justify-content: space-between;
}
.otherLinks ul a{
    background-image:linear-gradient(0deg, #1fd1f9, #b621fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
    font-size: 1.2rem;
}