/* SETTING ANCHOR */
#photoGalleryAnchor{
  position: relative;
  top: -7rem;
  display: hidden;
  pointer-events: none;
}
/* SETTING ANCHOR */

.heading_photo_gallery {
  font-size: 3rem;
  font-family: 'Gilroy-Bold', sans-serif;
  text-align: center;
}

.galleryText {
  background-image: linear-gradient(#B621FE, #1FD1F9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slideshow-container {
max-width: 1200px;
position: relative;
margin: auto;
overflow: hidden;
}

.slideshow-inner img {
height: 600px;
}

.mySlides {
display: none;
height: 100%;
}

.buttons{
position: absolute;
top: 50%;
width: 97%;
display: flex;
justify-content: space-between;
padding: 0 1rem;
}

.buttons a {
/* border: 2px solid #fff; */
background-color: transparent;
color: #fff;
cursor: pointer;
padding: 15px 20px;
border-radius: 50% !important;
outline: none;
}

.buttons a:hover{
background-color: #fff;
color: #333;
}

@media (max-width: 450px) {
.heading_photo_gallery {
  font-size: 2rem;
}

.slideshow-container {
  max-width: 350px;
}
.slideshow-inner img {
  height: 100%;
}
.buttons{
  position: absolute;
  top: 40%;
  width: 90%;
}
}