@font-face {
  font-family: "geometric";
  src: url("../font/geometric.ttf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: geometric;
  }
  .launch_main {
    background:     #15131A;
    width: 100vw;
    height: 100vh;

  }
  .launch_body{
    box-shadow: -4px 4px 16px 2px rgba(34, 250, 176, 0.25), 4px -4px 16px 2px rgba(31, 209, 249, 0.25);
    position: absolute;
    width: 423px;
    height: 422px;
    left: 35%;
    top: 18%;
    border-radius: 50%;
    background:linear-gradient(180deg, #1FD1F9 0%, #B621FE 100%);
    display: inline-block;
    font-size: 20px;    

  }
  .lottie{
    position: absolute;
    width: 415px;
    height: 412px;
    left: 1%;
    top: 1%;
    background-color: #15131A;
    border-radius: 50%;
  }
  
  .launch_main .launch_content h1{
    position: absolute;
    top: 30%;
    bottom: 5%;
    left: 6%;
    font-size: 100px;
    color: #FFFFFF;
       
  }
  .launch_main .launch_content img{
    /* position: absolute;
    top: 40%;
    bottom: 60%;
    left: 40%;
    font-size: 100px;
    color: #FFFFFF; */
  

    position: absolute;
    top: 33%;
    /* bottom: 60%; */
    left: 37%;
    font-size: 110px;
    
}

.launch_main .launch_text h5{
  position: absolute;
  /* top: 80%; */
  bottom: 9%;
  left: 43%;
  align-items: center;
  color: rgba(87, 87, 87, 1);
  font-size: 28px;
  line-height: 33px;
  font-weight: 100;
  font-family: Gilroy;
}

.launch_main .launch_text h4{
  position: absolute;
  /* top: 85%; */
  bottom: 2%;
  left: 45%;
  text-align: center;
  font-size: 23px;
  line-height: 33px;
  font-family: Gilroy;
  font-weight: 100;
  color:rgba(87, 87, 87, 1) ;
}

@media (max-width:1050px){
 .launch_body{
  left: 25%;
  top: 19%;
  width: 413px;
  height: 401px;
  }

  .lottie{
    width: 404px;
    height: 393px;
  }

  .launch_main .launch_content h1{
    top: 29%;
    left: 3%;
    font-size: 110px;
  }
  
}

@media (max-width:815px){
  .launch_body{
   left: 27%;
   top: 13%;
   width: 380px;
   height: 384px;
   }
 
   .lottie{
    width: 372px;
    height: 375px;
   }
 
   .launch_main .launch_content h1{
    top: 26%;
    font-size: 100px
   }
   
 }

 @media (max-width:660px){
  .launch_body{
    left: 25%;
    top: 14%;
    width: 302px;
    height: 319px
   }
 
   .lottie{
    width: 295px;
    height: 311px;
   }
 
   .launch_main .launch_content h1{
    top: 26%;
    font-size: 79px;
   }

   .launch_main .launch_text h5{
    bottom: 12%;
    left: 29%;
    font-size: 29px
   }

   .launch_main .launch_text h4{
    bottom: 4%;
    left: 35%;
    font-size: 23px;
   }
   
 }

 @media (max-width:500px){
  .launch_body{
    left: 18%;
    top: 16%;
    width: 249px;
    height: 268px;
   }
 
   .lottie{
    width: 243px;
    height: 262px;
   }
 
   .launch_main .launch_content h1{
    top: 25%;
    font-size: 65px;
   }

   .launch_body .launch_text h5{
    bottom: 12%;
    left: 36%;
    font-size: 27px;
   }

   .launch_body .launch_text h4{
    bottom: 4%;
    left: 40%;
    font-size: 22px;
   }
   
 }
