@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.ttf");
    font-weight: medium;
    font-style: normal;
  }
  

body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.our-speakers{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}
.speaker-heading{
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 48px;
}
.grad-font {
    background: linear-gradient(180deg, #b621fe 0%, #1fd1f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.owl-carousel{
    position: relative;
    margin: 5% 0;
}
.owl-stage{
    display: flex;
}
.speaker{
    position: relative;
    display: flex;
    align-items: center;
    width: 120%;
    border: 1px solid rgba(113, 113, 113, 0.2);
    box-sizing: border-box;
    box-shadow: 0px -2px 165px rgba(196, 78, 254, 0.08), 0px 2px 165px rgba(196, 78, 254, 0.08);
    border-radius: 39px;
    padding: 10% 0%;
}
.owl-item .speaker{
    filter: blur(3px);
    transform: scale(.75);
    transition: all .5s;
}
.owl-item.active.center .speaker{
    filter: blur(0);
    transform: scale(1);
    transition: all .5s;
}
.owl-carousel .owl-item img{
    position: relative;
    width: 25%;
    border-radius: 50%;
    margin: 5% 0;
    margin-left: 10%;
}
.speaker-content{
    margin-left: 5%;
}
.speaker-content a{
    text-decoration: none;
}
.speaker-name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3%;
}
.speaker-des{
    color: rgb(49, 49, 49);
}
.speaker-social-media{
    position: relative;
    display:flex;
    margin-top: 7%;
    font-size: 1.2rem;
    padding: 2%;
    width: 32%;
    color: rgb(137, 0, 175);
    justify-content: space-around;
    cursor: pointer;
    border: 1px solid #b621fe;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.speaker-social-media:hover{
    color: white;
    background-color: #b621fe;
}
.speaker-handle-logo{
    margin-left: 5%;
    border-radius: 50%;
    font-size: 1.3rem;
}
@media (max-width:768px) {
    .speaker{
        width: 95%;
        margin-left: 4%;
    }
    .owl-item .speaker{
        filter: blur(0);
        transform: scale(1);
    }
    .owl-item.active.center .speaker{
        filter: blur(0);
        transform: scale(1);
    }
    .speaker-social-media{
        width: 40%;
    }
}