@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* html {
    scroll-snap-type: y mandatory;
} */

.pbg {
    position: fixed;
    filter: url(#round);
    transform: scale(0.9, 0.9);
    top: 15%;
    left: 5%;
    z-index: 0;
}

#rectangle1 {
    position: absolute;
    width: 3.5rem;
    height: 6rem;
    left: 80rem;
    top: 40rem;
    transform: rotate(39.16deg);
}

#triangle1 {
    position: absolute;
    width: 8rem;
    height: 9rem;
    left: 10rem;
    top: 30rem;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transform: rotate(-13.23deg);
}

#rectangle2 {
    position: absolute;
    width: 2rem;
    height: 9rem;
    left: 33rem;
    top: 4rem;
    transform: rotate(10.49deg);
}

#ellipse1 {
    position: absolute;
    width: 6rem;
    height: 8rem;
    left: 70rem;
    top: 6rem;
    transform: matrix(-0.64, 0.77, 0.77, 0.64, 0, 0) scale(0.8, 0.8);
    border-radius: 50%;
}

#ellipse2 {
    position: absolute;
    width: 8.5rem;
    height: 8.5rem;
    left: 6rem;
    top: 8rem;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0) scale(0.8, 0.8);
}

#triangle3 {
    position: absolute;
    width: 5rem;
    height: 7.5rem;
    left: 85rem;
    top: 16rem;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transform: rotate(-123.58deg);
}

.bgshapes {
    background: linear-gradient(180deg, rgba(34, 250, 176, 0.65) 0%, rgba(31, 209, 249, 0.65) 100%);
}

@media (max-width:400px) {
    .pbg {
        visibility: hidden;
    }
}

.ourTeam {
    background-color: #15131A;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: bold;
    color: #fff;
    /* scroll-snap-type: y mandatory; */
}

.section {
    /* scroll-snap-align: start; */
    min-height: 100vh;
    display: grid;
}

.Patron {
    background-color: #fff;
    color: #15131A;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.developer {
    padding-bottom: 4rem;
    padding-top: 2.5rem;
}

.ourTeam .team {
    text-align: center;
    font-size: 4.1rem;
    padding-top: 6rem;
}

.team span {
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.chiefPatron {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.chiefPatron p,
.Patron p,
.developer p {
    text-align: center;
    font-size: 3rem;
    z-index: 2;
}

.developer .developercard .details {
    padding-top: 4rem;
}

.Patron .patroncard,
.developer .developercard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.developer .developercard {
    flex-direction: column;
}

.developer .developercard .president_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-bottom: 6rem; */
}

.developer .developercard .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
}

.developer .developercard .fullname span1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.developer .developercard .container span {
    font-size: 1.2rem;
    font-family: Gilroy;
    font-weight: bold;
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.developer .developercard .Leads_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ourTeam img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 100%;
}

.Patron img {
    width: 18rem;
    height: 18rem;
}

.developer img {
    width: 15rem;
    height: 15rem;
}

.linkdin {
    width: 32px;
    height: 32px;
}

.facebook {
    width: 17px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.ourTeam .fullName {
    font-size: 1.7rem;
    font-family: Gilroy;
    font-weight: normal;
    padding-top: 2rem;
    text-align: center;
    z-index: 130;
}

.ourTeam .fullName span {
    font-size: 1.5rem;
    font-family: Gilroy;
    font-weight: bold;
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.social-icons svg {
    margin-bottom: 2rem;
    color: #fff;
}

.ourTeam .social-icons {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    flex-direction: column;
    right: -4.5rem;
    z-index: 130;
}

.ourTeam figure {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .1s ease-in-out;
    transition: .3s ease-in-out;
}

.ourTeam figure:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ourTeam .social-icons:hover {
    opacity: 1;
}

@media screen and (max-width:600px) {
    .ourTeam img {
        width: 19rem;
        height: 19rem;
    }
    .ourTeam .social-icons {
        top: 1rem;
    }
    .Patron .linkdin {
        width: 23px;
        height: 23px;
    }
    .Patron .facebook {
        width: 12px;
        height: 20px;
    }
    .Patron .instagram {
        width: 20px;
        height: 20px;
    }
    .Patron .social-icons {
        right: -3rem;
    }
    .developer .linkdin {
        width: 20px;
        height: 20px;
    }
    .developer .facebook {
        width: 12px;
        height: 18px;
    }
    .developer .instagram {
        width: 18px;
        height: 18px;
    }
    .developer .social-icons {
        right: -2.5rem;
    }
    .ourTeam .developercard {
        display: flex;
        flex-direction: column;
    }
    .ourTeam .patroncard {
        display: flex;
        flex-direction: column;
    }
    .Patron img {
        width: 16.5rem;
        height: 16.5rem;
    }
    .developer img {
        width: 12rem;
        height: 12rem;
    }
    .developer .fullName,
    .Patron .fullName {
        font-size: 1.8rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
}

@media screen and (max-width:400px) {
    .ourTeam img {
        width: 15rem;
        height: 15rem;
    }
    .Patron img {
        width: 12.5rem;
        height: 12.5rem;
    }
    .developer img {
        width: 10rem;
        height: 10rem;
    }
    .developer .fullName,
    .Patron .fullName {
        font-size: 1.8rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
    .chiefPatron .fullName {
        font-size: 2rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
    .chiefPatron p,
    .Patron p,
    .developer p {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1000px) {
    .ourTeam .developercard {
        flex-wrap: wrap;
    }
    .ourTeam .patroncard {
        flex-wrap: wrap;
    }
}