@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

.pbg {
    position: fixed;
    z-index: 0;
    filter:url(#round);
    transform: scale(0.9, 0.9);
    top: 15%;
    left: 5%;
}

#rectangle1 {
position: absolute;
width: 75px;
height: 165px;
left: 1100px;
top: 510px;
transform: rotate(39.16deg);
}

#triangle1 {
position: absolute;
width: 135px;
height: 170px;
left: 200px;
top: 495px;
clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
transform: rotate(-13.23deg);
}

#rectangle2 {
    position: absolute;
width: 35px;
height: 185px;
left: 500px;
top: 90px;

transform: rotate(10.49deg);
}

#ellipse1 {
    position: absolute;
width: 115px;
height: 160px;
left: 1100px;
top: 85px;

transform: matrix(-0.64, 0.77, 0.77, 0.64, 0, 0);
border-radius: 50%;
}

#ellipse2 {
    position: absolute;
width: 170px;
height: 170px;
left: 160px;
top: 100px;
border-radius: 50%;

transform: matrix(-1, 0, 0, 1, 0, 0);
}

#triangle3 {
    position: absolute;
width: 85px;
height: 150px;
left: 1300px;
top: 240px;
clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
transform: rotate(-123.58deg);
}

.bgshapes {
    background: linear-gradient(180deg, #22FAB0 0%, #1FD1F9 100%);
}

.bgshapes2 {
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
}

@media (max-width:400px) {
    .pbg {
        visibility: hidden;
    }
}

.ourTeam {
    background-color: #15131A;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: bold;
    color: #fff;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: grid;
}

.Patron {
    background-color: #fff;
    color: #15131A;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.developer {
    padding-bottom: 4rem;
    padding-top: 2.5rem;
}

.ourTeam .team {
    text-align: center;
    font-size: 4.1rem;
    padding-top: 6rem;
}

.team span {
    background: linear-gradient(180deg, #B621FE 0%, #1FD1F9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.chiefPatron {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.chiefPatron p,
.Patron p,
.developer p {
    text-align: center;
    font-size: 3rem;
}

.Patron .patroncard,
.developer .developercard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ourTeam img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 100%;
}

.Patron img {
    width: 19rem;
    height: 19rem;
}

.developer img {
    width: 16rem;
    height: 16rem;
}

.linkdin {
    width: 32px;
    height: 32px;
}

.facebook {
    width: 17px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.ourTeam .fullName {
    font-size: 2.3rem;
    font-family: Gilroy;
    font-weight: normal;
    padding-top: 2rem;
    text-align: center;
}

.social-icons svg {
    margin-bottom: 2rem;
    color: #fff;
}

.ourTeam .social-icons {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    flex-direction: column;
    right: -4.5rem;
    z-index: 130;
}

.ourTeam figure {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .1s ease-in-out;
    transition: .3s ease-in-out;
}

.ourTeam figure:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ourTeam .social-icons:hover {
    opacity: 1;
}

@media screen and (max-width:600px) {
    .ourTeam img {
        width: 19rem;
        height: 19rem;
    }
    .ourTeam .social-icons {
        top: 1rem;
    }
    .Patron .linkdin {
        width: 23px;
        height: 23px;
    }
    .Patron .facebook {
        width: 12px;
        height: 20px;
    }
    .Patron .instagram {
        width: 20px;
        height: 20px;
    }
    .Patron .social-icons {
        right: -3rem;
    }
    .developer .linkdin {
        width: 20px;
        height: 20px;
    }
    .developer .facebook {
        width: 12px;
        height: 18px;
    }
    .developer .instagram {
        width: 18px;
        height: 18px;
    }
    .developer .social-icons {
        right: -2.5rem;
    }
    .ourTeam .developercard {
        display: flex;
        flex-direction: column;
    }
    .ourTeam .patroncard {
        display: flex;
        flex-direction: column;
    }
    .Patron img {
        width: 16.5rem;
        height: 16.5rem;
    }
    .developer img {
        width: 12rem;
        height: 12rem;
    }
    .developer .fullName,
    .Patron .fullName {
        font-size: 1.8rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
}

@media screen and (max-width:400px) {
    .ourTeam img {
        width: 15rem;
        height: 15rem;
    }
    .Patron img {
        width: 12.5rem;
        height: 12.5rem;
    }
    .developer img {
        width: 10rem;
        height: 10rem;
    }
    .developer .fullName,
    .Patron .fullName {
        font-size: 1.8rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
    .chiefPatron .fullName {
        font-size: 2rem;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom: 2.6rem;
    }
    .chiefPatron p,
    .Patron p,
    .developer p {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1000px) {
    .ourTeam .developercard {
        flex-wrap: wrap;
    }
    .ourTeam .patroncard {
        flex-wrap: wrap;
    }
}