
*{
    padding: 0;
    margin: 0;
    border-style: none;
    text-decoration: none;    
}

body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'gil-roy';
    src:url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: 'gil-roy';
    src:url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

.coverPage{
    height: 100vh;
    width: 100vw;
    background-color: #15131A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coverPage .socialIcons{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 3rem;
}

.socialIcons i{
    margin-bottom: 10px;
    transition: 250ms;
}

.fa-linkedin-in, .fa-facebook-f {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    margin-left: 5px;
    -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsla(0, 0%, 100%);
}

.fa-instagram{
    font-size: 2.25rem;
    padding: 1rem;
    color: white;    
}

.linkedin, .facebook {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    margin-left: 5px;
    -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsla(0, 0%, 0%);
}

.instagram{
    font-size: 2.25rem;
    padding: 1rem;
    color: black;    
}

.socialIcons i:hover{
    transform: scale(0.85);
    -webkit-text-stroke-width: 0px;
    background-image: linear-gradient(0deg, #1FD1F9, #B621FE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coverPage .leftVerticalLine{
    height: 2px ;
    width: 120px;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    left: -1.9rem;
    top: 135%;
    border-radius: 5px;
}

.verticalLine{
    height: 2px !important;
    width: 120px;
    background-color: black;
    transform: rotate(90deg);
    position: absolute;
    left: -1.9rem;
    top: 135%;
    border-radius: 5px;
}

.coverPage .contentWrapper{
    width: 67.5vw;
    height: 32.5vh;
    display: flex;
    flex-direction: row;    
}

.contentWrapper .leftContentWrapper {
    width: 50vw;
    height: 100%;
    letter-spacing: 1px;
}

.contentWrapper .rightContentWrapper {
    width: 50vw;
    height: 100%; 
}

.leftContentWrapper h1{
    font-size: 4rem;
    color: white;
    font-family: 'gil-roy';
    font-weight: bold;
    background-image: linear-gradient(0deg, #1FD1F9, #B621FE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.leftContentWrapper p{
    width: 90%;
    font-size: 1rem;
    color: white;
    opacity: 0.72;
    font-family: 'gil-roy';
    font-weight: medium;
    line-height: 149.3%;
}

.rightContentWrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.floating-button{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 62%;
    transform: rotate(90deg);
    animation: animateUpDown 1.75s infinite;   
}

@keyframes animateUpDown {
    0%{ 
        transform: rotate(90deg) translatex(0px);
    }
    50%{
        transition: 150ms;
        transform: rotate(90deg) translatex(15px);
        background-image: linear-gradient(-90deg, #1FD1F9, #B621FE);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        transform: rotate(90deg) translatex(0px);
    }
}

.floating-button-1{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 62%;
    transform: rotate(90deg);
    animation: animateUpDown 1.75s infinite;   
}

@keyframes animateUpDown1 {
    0%{ 
        transform: rotate(90deg) translatex(0px);
    }
    50%{
        transition: 150ms;
        transform: rotate(90deg) translatex(15px);
        background-image: linear-gradient(-90deg, #1FD1F9, #B621FE);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        transform: rotate(90deg) translatex(0px);
    }
}

.floating-button a{
    color: white;
    font-size: 1.125rem;
    font-family: 'gil-roy';
    font-weight: bold;
    letter-spacing: 5px;
}

#aboutUsSection{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Applying CSS to sphere */
 .tagcloud {
     color: white;
    display: inline-block;
    position: absolute;
    top: -45%;
    left: 10%;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'gil-roy';
    font-size: 28px;
  }
  
  /* Change color of each text in sphere on hover   */
  .tagcloud--item:hover {
    background-image: linear-gradient(-180deg, #B621FE, #1FD1F9);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
  }

@media(max-width: 1200px){
    .fa-linkedin-in, .fa-facebook-f {
        font-size: 1.75rem;
    }

    .fa-instagram{
        font-size: 2rem;
    }

    .floating-button a{
        font-size: 1rem;
    }

    .leftContentWrapper h1{
        font-size: 3.75rem;
    }

    .leftContentWrapper p{
        font-size: 0.875rem;
    }
}

@media(max-width: 1024px){

    .contentWrapper{
        text-align: center;
        margin-bottom: 6rem;
    }

    .contentWrapper .leftContentWrapper {
        width: 70%;
        margin: auto;
    }

    .leftContentWrapper h1{
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .leftContentWrapper p{
        margin: auto;
        font-size: 1rem;
    }

    .contentWrapper .rightContentWrapper{
        display: none;
    }

    .floating-button{
        top: 65%;
    }

    .coverPage .socialIcons{
        top: 40%;
    }
}

@media (max-width: 850px){

    .contentWrapper{
        margin-bottom: 7rem;
    }

    .contentWrapper .leftContentWrapper {
        width: 80%;
    }

    .floating-button{
        top: 70%;
    }

    .coverPage .socialIcons{
        top: 43%;
    }
}

@media (max-width: 760px){

    .contentWrapper{
        margin-bottom: 14rem;
    }

    .socialIcons i{
        margin-bottom: 5px;
    }

    .fa-linkedin-in, .fa-facebook-f {
        font-size: 1.45rem;
        -webkit-text-stroke-width: 1px;
    }

    .fa-instagram{
        font-size: 1.75rem;
        opacity: 0.8;
    }

    .floating-button a{
        font-size: 1rem;
    }

    .leftContentWrapper h1{
        font-size: 3.5rem;
    }

    .leftContentWrapper p{
        font-size: 0.875rem;
    }

    .floating-button{
        top: 77.5%;
    }
}

@media (max-width: 415px){

    .coverPage .contentWrapper{
        width: 80vw;
    }

    .contentWrapper .leftContentWrapper {
        width: 100%;
       
    }

    .leftContentWrapper h1{
        font-size: 3rem;
    }

    .leftContentWrapper p{
        width: 100%;
    }

    .coverPage .socialIcons{
        top: 58%;
        left: 1rem;
    }

    .floating-button{
        top: 82%;
        right: -3.5rem;
    }
}
