/* styles */


/* FONT */

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


/* FONT */

* {
    font-family: Gilroy;
}


/* ROOT */

:root {
    font-size: 16px;
    --primary: #970ED9;
    --secondary: #06A9CE;
    --tertiary: #15131A;
    --text-primary: #FFFFFF;
}


/* ROOT */
